<div role="main" class="col-md-12 col-sm-8">

    <div>
        <h1 class="page-title text-center mb2">Comitê de inovação</h1>
    </div>
    <div class="bodyContent">
        <div class="pro-det-img"><img src="{{ asset('images/committee/proposito.png') }}" alt="" style="margin-bottom: 20px"></div>
{#        <div class="pro-det-img"><img src="{{ asset('images/committee/conceito.png') }}" alt=""></div>#}
        <div class="pro-det-img"><img src="{{ asset('images/committee/flywheel.png') }}" alt=""></div>
        <h2 class="page-title text-center" style="margin-bottom: 10px; margin-top: 20px">Organograma do comitê de inovação</h2>
        <div class="pro-det-img"><img src="{{ asset('images/committee/organograma.png') }}" alt=""></div>
    </div>


</div>
