{% extends "base.html.twig" %}

{% block body %}

    {% include "about/_header.html.twig" %}

    {{ include('sections/_breadcrumb.html.twig') }}

    <section class="section-main section-twocolumn-right">
        <div class="container">
            <div class="row">
                {{ include('new-highlight/_form-author.container.html.twig') }}
            </div>
        </div>
    </section>

    {% include "modules/_solution.html.twig" %}

    {% include "modules/_footer.html.twig" %}

{% endblock %}