<div role="main" class="col-md-9 col-sm-8">

    <div>
        <h1 class="pageTitle">About the Company</h1>
    </div>
    <div class="bodyContent">
        <p style="margin-left: 0in;">Our organization is passionately committed to the pursuit of a better world through positive change. We embrace your visions as our own and partner with you to develop better ideas that are smarter, more efficient, and innovative. Our global network of 9,000 professionals work on the world’s toughest challenges. Our experience spans over 150 countries around the world in the metals, energy, infrastructure, digital, and investments market sectors.</p>
        <p style="margin-left: 0in;">We are employee-owned and independent—free to bring our best thinking to your business. Our exceptional, diverse teams combine vast engineering and business knowledge, working in partnership with our clients to develop market strategies, manage and optimize production, develop new game-changing technologies, and design and deliver complex capital projects.</p>
        <p style="margin-left: 0in;">We work closely with the communities in which we serve to ensure that our solutions optimize environmental protection, economic prosperity, social justice, and cultural vibrancy. We want their businesses, ecosystems, and communities to thrive, both now and into the future.</p>
        <p style="margin-left: 0in;">Our people are passionate about our corporate purpose and values. We believe in long-term relationships with our partners, and are committed to our clients’ lasting success.</p>
        <p style="margin-left: 0in;">We are “entrepreneurs with a technical soul.”</p>
        <h2><a href="/About-Us/About-the-Company/Quality">Quality</a></h2>
        <p>At Hatch, we are committed to meeting and exceeding your expectations in all that we do. This commitment is enabled and supported by practices and processes embedded in all Hatch projects, which deliver real value to our clients.</p>
        <h2><a href="/About-Us/About-the-Company/Health-and-Safety">Health &amp; Safety</a></h2>
        <p>The safety of our employees, visitors, and contractors is always top of mind. We work with our clients and partners, using structured systems and processes, to ensure safety, always.</p>
        <h2><a href="/About-Us/Ethics-And-Sustainability">Sustainability</a></h2>
        <p><a href="/-/media/Hatch-Corporate/PDF/Sustainability_POL_2021R1.pdf">Sustainability Policy</a> [PDF]</p>
        <p>Sustainability requires the optimization of environmental, social, and economic outcomes. This ensures ecosystems are maintained, communities thrive, and society prospers, now and in the future. Sustainability is at the core of how we deliver value to our clients as a socially responsible company.</p>
        <p><a href="/About-Us/News-And-Media/2020/11/Demonstrating-our-commitment-to-sustainability-with-ISO-14001">Hatch's Mississauga offices are ISO 14001:2015 certified.</a></p>
        <h2><a href="/-/media/Hatch-Corporate/PDF/Indigenous-Peoples-Policy.pdf">Indigenous Peoples Policy</a></h2>
        <p>Our relationships with First Nations, Métis, Inuit, and Native Americans are based on the values of honesty, respect, and transparency. We understand that our ability to deliver successful projects on behalf of our clients is enhanced by our knowledge and understanding of the histories, cultures, protocols, values, aspirations, and governments of First Peoples across North America and Aboriginal communities around the world.<br>
            <br>
            <a href="/-/media/Hatch-Corporate/PDF/Indigenous-Peoples-Policy.pdf">Indigenous Peoples Policy</a> [PDF]</p>
    </div>


</div>