<div role="main" class="col-md-12 col-sm-8">

    <div>
        <h1 class="pageTitle">Sobre a empresa</h1>
    </div>
    <div class="bodyContent">
        <p style="margin-left: 0in;">Nossa organização está apaixonadamente comprometida com a busca de um mundo melhor através de mudanças positivas. Abraçamos suas visões como nossas e nos associamos a você para desenvolver melhores idéias que sejam mais inteligentes, eficientes e inovadoras. Nossa rede global de 9.000 profissionais trabalha nos desafios mais difíceis do mundo. Nossa experiência abrange mais de 150 países em todo o mundo nos setores de metais, energia, infra-estrutura, digital e mercado de investimentos.</p>
        <p style="margin-left: 0in;">Somos de propriedade de funcionários e independentes para trazer nosso melhor pensamento ao seu negócio. Nossas equipes excepcionais e diversificadas combinam vastos conhecimentos de engenharia e negócios, trabalhando em parceria com nossos clientes para desenvolver estratégias de mercado, gerenciar e otimizar a produção, desenvolver novas tecnologias que mudam o jogo, e projetar e entregar projetos de capital complexos.</p>
        <p style="margin-left: 0in;">Trabalhamos em estreita colaboração com as comunidades nas quais atuamos para garantir que nossas soluções otimizem a proteção ambiental, a prosperidade econômica, a justiça social e a vitalidade cultural. Queremos que seus negócios, ecossistemas e comunidades prosperem, tanto agora quanto no futuro.</p>
        <p style="margin-left: 0in;">Nosso povo é apaixonado por nossos objetivos e valores corporativos. Acreditamos em relacionamentos de longo prazo com nossos parceiros e estamos comprometidos com o sucesso duradouro de nossos clientes.</p>
        <p style="margin-left: 0in;">Somos "empreendedores com uma alma técnica".</p>
        <h2>Nosso manifesto</h2>
        <image width="100%" src="{{ asset('manifesto.png') }}" alt="manifesto"></image>
        {# <h2>Qualidade</h2>
        <p>Na Hatch, estamos comprometidos em atender e superar suas expectativas em tudo o que fazemos. Este compromisso é permitido e apoiado por práticas e processos incorporados em todos os projetos da Hatch, que oferecem valor real a nossos clientes.</p>
        <h2>Saúde e Segurança</h2>
        <p>A segurança de nossos funcionários, visitantes e empreiteiros está sempre no topo das preocupações. Trabalhamos com nossos clientes e parceiros, utilizando sistemas e processos estruturados, para garantir a segurança, sempre.</p>
        <h2>Sustentabilidade</h2> #}
{#        <p><a href="https://www.hatch.com/-/media/Hatch-Corporate/PDF/Sustainability_POL_2021R1.pdf">Política de Sustentabilidade</a> [PDF]</p>#}
        {# <p>A sustentabilidade requer a otimização dos resultados ambientais, sociais e econômicos. Isto assegura que os ecossistemas sejam mantidos, as comunidades prosperem e a sociedade prospere, agora e no futuro. A sustentabilidade está no centro da forma como entregamos valor a nossos clientes como uma empresa socialmente responsável.</p>
        <p>Os escritórios da Hatch em Mississauga são certificados pela ISO 14001:2015.</p>
        <h2><a href="/-/media/Hatch-Corporate/PDF/Indigenous-Peoples-Policy.pdf">Política dos Povos Indígenas</a></h2>
        <p>Nossas relações com First Nations, Métis, Inuit e Native Americans são baseadas nos valores de honestidade, respeito e transparência. Entendemos que nossa capacidade de entregar projetos bem-sucedidos em nome de nossos clientes é reforçada por nosso conhecimento e compreensão das histórias, culturas, protocolos, valores, aspirações e governos dos Primeiros Povos em toda a América do Norte e comunidades aborígines ao redor do mundo.<br>
            <br> #}
{#            <a href="/-/media/Hatch-Corporate/PDF/Indigenous-Peoples-Policy.pdf">Política dos Povos Indígenas</a> [PDF]</p>#}
    </div>


</div>