<div role="main" class="col-md-9 col-sm-8">
    <div>
        <h1 class="pageTitle">Ética e Integridade</h1>
    </div>
    <blockquote class="quote-hatch">
        <p>
            “We believe that together, we can change our world for the better. To do this well, we must, at all times, conduct ourselves with integrity. We must maintain the highest standards of ethical behavior in every corner of our business. And above all, we must be accountable for our actions, as we partner with clients, communities, and stakeholders to deliver safe, respectful, legal, and sustainable projects around the world."
        </p>
        <footer>
            <strong>John Bianchini<span> | </span></strong>
            Chairman &amp; Chief Executive Officer,
            Hatch
        </footer>

    </blockquote>
    <div class="bodyContent">
        <h2>Nosso Manifesto</h2>
        <p>Nossa visão na Hatch, como declarado em nosso <a href="https://www.hatch.com/About-Us/About-the-Company/Our-Manifesto">Manifesto</a>, é que estamos apaixonadamente comprometidos com a busca de um mundo melhor através de mudanças positivas. Nosso Manifesto também inclui nossos valores, que orientam tudo o que fazemos. Eles são o alicerce a partir do qual dirigimos nossos negócios, parte integrante de como nos expressamos como um grupo, e direcionam nosso engajamento com stakeholders e parceiros, enquanto procuramos inspirar sua confiança e entregar valor real aos seus negócios.</p>
        <p>Acreditamos em idéias excepcionais, entregues com serviços excepcionais.</p>
        <p>Idéias excepcionais vêm de:</p>
        <ul>
            <li>Doing our homework</li>
            <li>Innovating in all that we do</li>
            <li>Engaging great people who make a difference</li>
            <li>Acting like owners</li>
            <li>Encouraging a flat, connected organization</li>
            <li>Achieving no harm</li>
            <li>Nurturing long-term relationships</li>
            <li>Thinking globally, acting locally</li>
            <li>Ensuring cost effective, efficient delivery</li>
            <li>Living our commitments with integrity</li>
            <li>Being unconditionally honest</li>
        </ul>
        <h2>Code of Conduct</h2>
        <p>Hatch employees behave in accordance with the principles stated in our Code of Conduct. We expect that our contractors, suppliers, joint venture partners, subcontractors, and vendors who work with us act in a manner consistent with these principles. At the same time, when we work with our clients and partners, we respect and comply with their codes of conduct. If there is an inconsistency between codes, the most stringent will apply.</p>
        <p><strong>Global compliance</strong></p>
        <p>We comply with all laws and respect the customs and business practices of the countries in which we work.</p>
        <p><strong>Responsibility and accountability</strong></p>
        <p>We honor our commitments, take responsibility for all matters over which we have control, and are accountable for the results and consequences.</p>
        <p><strong>Respect in the workplace</strong></p>
        <p>We maintain a supportive, professional, and positive workplace environment by appreciating the unique skills, experience, and talent of each individual, treating everyone with courtesy, fairness, and respect.</p>
        <p><strong>Relationships</strong></p>
        <p>We build relationships and teams based on trust, honesty, integrity, and respect. Our teams actively collaborate and openly share experience and knowledge globally.</p>
        <p><strong>Confidentiality and privacy</strong></p>
        <p>We understand and respect the sensitive and confidential nature of the information that we are provided, in our roles and by clients, and do not release this information without appropriate consent—unless required to do so by law.
            <br>
            <br>
            We also respect and protect the privacy of all personal information of our employees and others who work with us.</p>
        <p><strong>Fairness, integrity, and honesty in our dealings</strong></p>
        <p>We establish and maintain professional relationships with our clients, contractors, suppliers, vendors, joint venture partners, and others, based on mutual respect, integrity, and honesty by:</p>
        <ul>
            <li>Prohibiting acts of corruption, bribery or improper influencing of decision-makers</li>
            <li>Respecting that gift-giving and providing entertainment is an important cultural business practice in some of the countries in which we work while using careful judgment to ensure that we do not offer or accept such benefits when the situation could either reasonably be perceived to create an obligation or would be in breach of the recipient’s policies</li>
            <li>Avoiding any situation that creates or appears to create a conflict of interest and informing clients of all known or perceived conflicts of interest</li>
            <li>Not disclosing or trading upon non-public, market-sensitive information</li>
            <li>Competing fairly and ethically and offering services on the basis of our qualifications and experience</li>
            <li>Observing applicable laws regarding political contributions, activities, and lobbying.</li>
        </ul>
        <p>Download and read our <a href="/-/media/Hatch-Corporate/PDF/South-Africa-Privacy-Policy/English-Global---Code-of-Conduct-Hatch.pdf">Code of Conduct</a>.</p>
        <p>To report a possible Code of Conduct violation, please click <a rel="noopener noreferrer" href="https://www.surveymonkey.com/r/TH3GY2X" target="_blank">here</a>.</p>
        <h2>Modern Slavery Act Statement</h2>
        <p>One of our core values at Hatch is achieving no harm. We believe that to achieve no harm in relation to modern slavery, we have a responsibility to continuously work with organizations in our supply chain to identify modern slavery risks and eliminate them.</p>
        <p>Download and read our <a href="/-/media/Hatch-Corporate/PDF/Modern_Slavery_Act_Statement.pdf">Modern Slavery Act Statement</a></p>
    </div>
</div>