<div class="project-listing-controls form-inline">
    <button class="call2action btn brand-blue-dark" onclick="location.href='/CallToAction/CallToActionClick/%7BE9F31529-9543-47F5-9DAC-0BC363053535%7D'">
        Infrastructure
    </button>
    <button class="call2action btn brand-blue-dark" onclick="location.href='/CallToAction/CallToActionClick/%7B1DD01A73-35DE-4E24-8FAA-2AC9A5E1BBDE%7D'">
        Metals &amp; Minerals
    </button>
    <button class="call2action btn brand-blue-dark" onclick="location.href='/CallToAction/CallToActionClick/%7BAAEF8102-E4D4-4340-9963-A8609AB8DB5C%7D'">
        Energy
    </button>
{#    <form action="/api/sitecore/Project/ProjectListing" id="ProjectSecondLevelFilter" method="post"><input name="uid" type="hidden" value="7ba53a8c-f5e8-4d60-ba7c-78fa46cd58c0"><input id="page" name="page" type="hidden" value="1"><input id="model" name="model" type="hidden" value="Hatch.MVC.ViewModels.Components.ProjectList"><input id="itemId" name="itemId" type="hidden" value="{46DF34B0-8176-4C26-B372-E2D67DC09A86}"></form>#}
</div>