<section class="">
    <figure class="banner-hero title-light">
        <img src="{{ asset('media/banner/projects2_1920x580.jpg') }}?h=580&amp;iar=0&amp;w=1920" alt="Hatch Projects" width="1920" height="580">
        <figcaption>
            <div class="caption-content">
                <h1>Projetos </h1>
                <h1>Candidatos ao </h1>
                <h1>Innovation Local Awards</h1>
            </div>
        </figcaption>
    </figure>
</section>