{% extends 'base.html.twig' %}


{% block body %}
    <div class="wrapper">

        {{ include('_navbar.html.twig') }}

        {{ include('projects/_single.project.html.twig') }}

        {{ include('_footer.html.twig') }}

    </div>
{% endblock %}
