<div class="top-navigation-4">
    <!-- Main Navigation-->
    {{ include('modules/_nav.html.twig') }}
    <!-- Main Navigation-->
    <!-- =========home banner start============-->
    {{ include('posts/_carousel.html.twig') }}
    <!-- =========home banner end============-->
</div>
