<div role="main" class="col-md-12 col-sm-8">

    <div>
        <h1 class="pageTitle">Deseja publicar um artigo no nosso blog?</h1>
    </div>
    <div class="bodyContent">
        <h4 style="margin-left: 0in;">Nossa organização está apaixonadamente comprometida com a busca de um mundo melhor através de mudanças positivas. </h4>
        <h4>Abraçamos suas visões como nossas e nos associamos a você para desenvolver melhores idéias que sejam mais <b>inteligentes, eficientes e inovadoras</b>.</h4>
        <h4 style="margin-left: 0in;">Com esse objetivo em mente, nos alegra saber que deseja compartir conosco suas ideias e conhecimentos.</h4>
        <br>
{#        <a>Regras para a publicação no nosso portal</a> [PDF]</p>#}
        <br>
        <h3 style="margin-left: 0in;">Passos necessários. <small>(simples, porém importantes)</small></h3>
        <div class="steps">
            <h4>- Introduzir os seus dados pessoais</h4>
            <h4>- Escrever o artigo e os dados solicitados</h4>
            <h4>- Enviar para revisão e publicação, por favor aguarde o nosso retorno.</h4>
        </div>
        <a href="{{ path('app_new_author_post') }}" class="read-more btn">Começemos! </a>
    </div>
</div>
