<div class="col-md-3 col-sm-4">

    <div class="component navigation navigation-title">
        <div class="component-content">
            <nav class="navigation-side navigation-side-hatch">
                <ul>
                    <li class=" level1 submenu item0 odd first active rel-level1">
                        <a title="About the Company" href="{{ path('app_about_us') }}">About the Company</a><ul>
                            <li class=" level2 item0 odd first rel-level2">
                                <a title="Awards" href="/About-Us/About-the-Company/Awards">Recent Awards</a>
                            </li>
                            <li class=" level2 item1 even rel-level2">
                                <a title="Community involvement" href="/About-Us/About-the-Company/Community-involvement">Community Involvement</a>
                            </li>
                            <li class=" level2 item2 odd rel-level2">
                                <a title="COVID19" href="/About-Us/About-the-Company/COVID19">COVID-19 Information Center&nbsp;</a>
                            </li>
                            <li class=" level2 item3 even rel-level2">
                                <a title="Health and Safety" href="/About-Us/About-the-Company/Health-and-Safety">Health &amp; Safety</a>
                            </li>
                            <li class=" level2 item4 odd rel-level2">
                                <a title="Our Manifesto" href="/About-Us/About-the-Company/Our-Manifesto">Our Manifesto</a>
                            </li>
                            <li class=" level2 item5 even rel-level2">
                                <a title="Our People" href="/About-Us/About-the-Company/Our-People">Our People</a>
                            </li>
                            <li class=" level2 item6 odd last rel-level2">
                                <a title="Quality" href="/About-Us/About-the-Company/Quality">Quality</a>
                            </li>
                        </ul>

                    </li>
                    <li class=" level1 item1 even rel-level1">
                        <a title="Climate Change and Sustainability" href="/About-Us/Climate-Change-and-Sustainability">Climate Change and Sustainability</a>
                    </li>
                    <li class=" level1 item2 odd rel-level1">
                        <a title="Diversity" href="/About-Us/Diversity">Diversity &amp; Inclusion</a>
                    </li>
                    <li class=" level1 item3 even rel-level1">
                        <a title="Events-And-Conferences" href="/About-Us/Events-And-Conferences">Events &amp; Conferences</a>
                    </li>
                    <li class=" level1 item4 odd rel-level1">
                        <a title="webinar" href="/About-Us/webinar">Webinars</a>
                    </li>
                    <li class=" level1 item5 even rel-level1">
                        <a title="Ethics-And-Sustainability" href="/About-Us/Ethics-And-Sustainability">Ethics &amp; Integrity </a>
                    </li>
                    <li class=" level1 item6 odd rel-level1">
                        <a title="Information for Suppliers" href="/About-Us/Information-for-Suppliers">Information for Suppliers</a>
                    </li>
                    <li class=" level1 item7 even rel-level1">
                        <a title="ShareCenter Access" href="/About-Us/ShareCenter-Access">ShareCenter Access</a>
                    </li>
                    <li class=" level1 item8 odd rel-level1">
                        <a title="News-And-Media" href="/About-Us/News-And-Media">News &amp; Media</a>
                    </li>
                    <li class=" level1 item9 even rel-level1">
                        <a title="Office-Locations" href="/About-Us/Office-Locations">Office Locations</a>
                    </li>
                    <li class=" level1 submenu item10 odd rel-level1">
                        <a title="Publications" href="/About-Us/Publications" haschildnav="true">Publications</a><ul style="display: none;">
                            <li class=" level2 item0 odd first rel-level2">
                                <a title="Blogs" href="/About-Us/Publications/Blogs">Blogs</a>
                            </li>
                            <li class=" level2 item1 even rel-level2">
                                <a title="Newsletter" href="/About-Us/Publications/Newsletter">Newsletter</a>
                            </li>
                            <li class=" level2 item2 odd rel-level2">
                                <a title="Performance Innovations" href="/About-Us/Publications/Performance-Innovations">Performance Innovations</a>
                            </li>
                            <li class=" level2 item3 even rel-level2">
                                <a title="Sustainability Report" href="/About-Us/Publications/Sustainability-Report">Sustainability Report</a>
                            </li>
                            <li class=" level2 item4 odd last rel-level2">
                                <a title="Technical-Papers" href="/About-Us/Publications/Technical-Papers">Technical Papers</a>
                            </li>
                        </ul>

                    </li>
                    <li class=" level1 item11 even last rel-level1">
                        <a title="Contact Us" href="/About-Us/Contact-Us"> Contact Us </a>
                    </li>
                </ul>

            </nav>
        </div>
    </div>

</div>