<section class="section-main brand-gray-lightest">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="sidebarBlock richText ">
                    <img alt="Hatch–CIM Mining and Minerals Project Development Safety Award." src="{{ asset('media/news/Hatch-CIM-safey-award.png') }}?h=288&amp;w=192&amp;hash=BC867AC775E068466475524CF965565A" style="height: 288px; width: 192px; float: right; margin-bottom: 10px; margin-left: 10px;" />
                    <h2>Vem aí! O Local Awards 2023</h2>
                    <p>O projeto <b>Innovation Local Awards</b> reconhece projetos inovadores realizados no ámbito de Hatch Brasil e se baseia em pilares como uma inegoviavel segurança o um rigoroso compromisso com a sustentabilidade e deven ser auditáveis e reproduzíveis.</p>
                    <p>Para obter mais informações sobre o <b>Innovation Local Awards </b><a rel="noopener noreferrer" href="https://www.cim.org/awards/hatch-cim-mining-minerals-project-development-safety-award/" target="_blank">Faza click aqui</a></p>
                    <p>As inscrições se encerram em 31 de março de 2023. </p>
                    <!-- <a href="/About-Us/News-And-Media/2021/11/Hatch-and-Lindsay-Dynan-join-forces-to-form-a-top-infrastructure-solutions-provider-in-Australia"><img alt="Hatch and Lindsay Dynan join forces to form a top infrastructure solutions provider in Australia" src="/-/media/Hatch-Corporate/Campaign/Lindsay-Dynan-inegration-Hatch.jpg?h=310&amp;w=440&amp;hash=F39F35E66308B0E2D730FA71B21DE548" style="height: 310px; width: 440px; float: right; margin-bottom: 10px; margin-left: 10px;" /></a>&nbsp;
                    <h2><a href="/About-Us/News-And-Media/2021/11/Hatch-and-Lindsay-Dynan-join-forces-to-form-a-top-infrastructure-solutions-provider-in-Australia">Hatch and Lindsay Dynan join forces to form a top infrastructure solutions provider in Australia</a></h2>
                    <p>Hatch welcomes Lindsay Dynan&mdash;an Australian engineering consultancy with over 35 years of diverse experience with transportation, infrastructure, and natural resource&mdash;into its global network as part of Hatch&rsquo;s global Infrastructure team.</p>
                    <p><a href="/About-Us/News-And-Media/2021/11/Hatch-and-Lindsay-Dynan-join-forces-to-form-a-top-infrastructure-solutions-provider-in-Australia">See news release</a></p>-->
                    <br/>
                    <button class="btn btn-primary btn-lg">Inscreva seu Projeto!</button>
                </div>

            </div>
        </div>
    </div>
</section>