<section class="section-main brand-primary" style="padding-top: 200px">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="sidebarBlock richText ">
                    <img alt="Hatch–CIM Mining and Minerals Project Development Safety Award." src="{{ asset('media/news/Hatch-CIM-safey-award.png') }}?h=288&amp;w=192&amp;hash=BC867AC775E068466475524CF965565A" style="height: 288px; width: 192px; float: right; margin-bottom: 10px; margin-left: 10px;" />
                    <h2>Vem aí! O Innovation Local Awards 2023</h2>
                    <h5>O projeto <b>Innovation Local Awards</b> reconhece projetos inovadores realizados no ámbito de Hatch Brasil e se baseia em pilares como uma inegoviavel segurança o um rigoroso compromisso com a sustentabilidade e deven ser auditáveis e reproduzíveis.</h5>
                    <h5 style="color: white">Para obter mais informações sobre o
                        <b>Innovation Local Awards </b>
                        <a style="color: whitesmoke" rel="noopener noreferrer" href="https://www.cim.org/awards/hatch-cim-mining-minerals-project-development-safety-award/" target="_blank">Clique aqui</a>
                    </h5>

                    <h5 >As inscrições se encerram em 31 de março de 2023. </h5>
                    <div class="mixedContent">
                        <p class="linkMore">
                            <a class="brand-primary linkMore"><strong>Inscreva seu Projeto!</strong></a>
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>