<section class="section-hero">


    <figure class="banner-hero banner-hero-home title-light">
        <img src="{{ asset('media/homepage/HatchHeroBanner.jpg') }}" />
        <!-- hide hero banner image by default for desktop screen size -->
        <div id="banner-hero-image" style="display:none;">
            <img src="{{ asset('media/homepage/HatchHeroBanner.jpg') }}" />
        </div>

        <figcaption>
            <div class="caption-content">

                <h1>Inovação em todo</h1>
                <h1>que fazemos</h1>

                <h2 class="banner-hero_subtitle">que renova sua visão</h2>

                <a class="banner-hero_link case-study-link" href="/About-Us/Markets-Change">Veja como nossas soluções inovadoras estão mudando o mundo +</a>
            </div>
        </figcaption>
    </figure>
</section>