<section class="section-main brand-white">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="theme-banner">

                    <h2>Responder à transição energética</h2>

                    <figure class="banner-image">
                        <img src="media/banner/Responding-to-the-energy-transition-home.jpg?h=440&amp;iar=0&amp;w=1200&amp;hash=66CB2AE82FDDCEC00C59F26E7EBB463B" alt="Responding to the energy transition" width="1200" height="440" />
                    </figure>

                    <div class="case-study">
                        <div class="case-study-content">
                            <p>Defendendo um futuro de baixo carbono </p>
                        </div>
                        <a class="case-study-link" title="Responsible Energy" href="https://www.hatch.com/Expertise/Topics/Responsible-Energy">
                            Saiba mais
                        </a>


                    </div>

                    <div class="deets">


                        <div class="quote-hatch">
                            <a href="https://www.hatch.com/Projects/Energy/Becancour-Green-Hydrogen-Plant" target="|Custom">
                                ESTUDO DE CASO: eletrolizadores de membrana de intercambio de prótons (PEM) 20MW
                            </a>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
</section>