<section class="section-main brand-white">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="theme-banner">

                    <h2>Inovação na mineração</h2>

                    <figure class="banner-image">
                        <img src="{{ asset('media/homepage/Innovation-in-Mining-homepage.jpg') }}?h=400&amp;iar=0&amp;w=1200&amp;hash=5AC05E58DADF7D5DB7CB6EA3C818DB61" alt="Hatch Innovation in Mining" width="1200" height="400" />
                    </figure>

                    <div class="case-study">
                        <div class="case-study-content">
                            <p>Abordagens para uma nova era da mineração</p>
                        </div>
                        <a class="case-study-link" href="/Expertise/Topics/Innovation-in-Mining">Saiba mais</a>


                    </div>

                    <div class="deets">


                        <div class="quote-hatch">
                            <a title="AP60" href="/Projects/Metals-And-Minerals/AP60">
                                CESTUDO DE CASO: Planta piloto produz 40% a mais de alumínio
                            </a>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
</section>