<section class="section-main brand-gray-lighter">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="theme-banner">

                    <h2>Soluções urbanas</h2>

                    <figure class="banner-image">
                        <img src="{{ asset('media/homepage/Urban-Solutions-home.jpg') }}?h=400&amp;iar=0&amp;w=1200&amp;hash=DBD88FB0BA1B49EAB0FF22B03BBEDC73" alt="Urban Solutions" width="1200" height="400" />
                    </figure>

                    <div class="case-study">
                        <div class="case-study-content">
                            <p>Cidades mais inteligentes não são só ideais sociais, são um imperativo econômico.</p>
                        </div>
                        <a class="case-study-link" href="/Expertise/Topics/Sustainable-Urban-Development">Saiba mais</a>


                    </div>

                    <div class="deets">


                        <div class="quote-hatch">
                            <a href="/Projects/Infrastructure/The-socioeconomic-impact-of-the-Gautrain-study">
                                ESTUDO DE CASO: O impacto socioeconômico do estudo Gautrain
                            </a>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
</section>