<li class="">
    <a title="About-Us" href="/About-Us">About Us</a>
    <a href="#" class="dropdown-plus " data-toggle="collapse-next">+</a>
    <ul class="nav navbar-nav collapse">
        <li class="">
            <a title="About the Company" href="/About-Us/About-the-Company">About the Company</a>
            <a href="#" class="dropdown-plus " data-toggle="collapse-next">+</a>
            <ul class="nav navbar-nav collapse">
                <li class="">
                    <a title="Awards" href="/About-Us/About-the-Company/Awards">Recent Awards</a>
                </li>
                <li class="">
                    <a title="Board of Directors" href="/About-Us/About-the-Company/Board-of-Directors">Board of Directors</a>
                </li>
                <li class="">
                    <a title="Community involvement" href="/About-Us/About-the-Company/Community-involvement">Community Involvement</a>
                </li>
                <li class="">
                    <a title="COVID19" href="/About-Us/About-the-Company/COVID19">COVID-19 Information Center&#160;</a>
                </li>
                <li class="">
                    <a title="Health and Safety" href="/About-Us/About-the-Company/Health-and-Safety">Health &amp; Safety</a>
                </li>
                <li class="">
                    <a title="Our Manifesto" href="/About-Us/About-the-Company/Our-Manifesto">Our Manifesto</a>
                </li>
                <li class="">
                    <a title="Our People" href="/About-Us/About-the-Company/Our-People">Our People</a>
                </li>
                <li class="">
                    <a title="Quality" href="/About-Us/About-the-Company/Quality">Quality</a>
                </li>
            </ul>

        </li>
        <li class="">
            <a title="Climate Change and Sustainability" href="/About-Us/Climate-Change-and-Sustainability">Climate Change and Sustainability</a>
        </li>
        <li class="">
            <a title="Diversity" href="/About-Us/Diversity">Diversity &amp; Inclusion</a>
        </li>
        <li class="">
            <a title="Events-And-Conferences" href="/About-Us/Events-And-Conferences">Events &amp; Conferences</a>
        </li>
        <li class="">
            <a title="webinar" href="/About-Us/webinar">Webinars</a>                    <a href="#" class="dropdown-plus " data-toggle="collapse-next">+</a>
            <ul class="nav navbar-nav collapse">
                <li class="">
                    <a title="52nd H G Acres Symposium" href="/About-Us/webinar/52nd-H-G-Acres-Symposium">52nd H.G. Acres Symposium</a>
                </li>
                <li class="">
                    <a title="CERBA" href="/About-Us/webinar/CERBA">CERBA</a>
                </li>
                <li class="">
                    <a title="climate-proof your hydro operation" href="/About-Us/webinar/climate-proof-your-hydro-operation">climate-proof your hydro operation</a>
                </li>
                <li class="">
                    <a title="Creating shared value in mine site communities" href="/About-Us/webinar/Creating-shared-value-in-mine-site-communities">Creating shared value in mine site communities: shifting from reliance to relevance</a>
                </li>
                <li class="">
                    <a title="CRU Phosphates 2021" href="/About-Us/webinar/CRU-Phosphates-2021">CRU Phosphates 2021</a>
                </li>
                <li class="">
                    <a title="Diverse and Inclusive Design in Project Delivery" href="/About-Us/webinar/Diverse-and-Inclusive-Design-in-Project-Delivery">Diverse and Inclusive Design in Project Delivery</a>
                </li>
                <li class="">
                    <a title="Engineering the largest mining move in Africa during Covid" href="/About-Us/webinar/Engineering-the-largest-mining-move-in-Africa-during-Covid">Engineering the largest mining move in Africa during Covid</a>
                </li>
                <li class="">
                    <a title="esg" href="/About-Us/webinar/esg">ESG Webinar</a>
                </li>
                <li class="">
                    <a title="ESTAD-2021" href="/About-Us/webinar/ESTAD-2021">ESTAD 2021</a>
                </li>
                <li class="">
                    <a title="Exploring ESG standards" href="/About-Us/webinar/Exploring-ESG-standards">Exploring ESG standards, and their critical role in CSR strategy and the future of the nuclear industry</a>
                </li>
                <li class="">
                    <a title="Galvatech 2021 virtual conference" href="/About-Us/webinar/Galvatech-2021-virtual-conference">Galvatech 2021 virtual conference</a>
                </li>
                <li class="">
                    <a title="hgacres" href="/About-Us/webinar/hgacres">hgacres</a>
                </li>
                <li class="">
                    <a title="ICSOBA conference" href="/About-Us/webinar/ICSOBA-conference">Decarbonization and sustainability: How to drive alumina and aluminium production towards carbon neutrality </a>
                </li>
                <li class="">
                    <a title="ICSOBA conference 2 0" href="/About-Us/webinar/ICSOBA-conference-2-0">A modernized ANSYS-based finite element model for the thermal-electrical design of aluminium reduction cells</a>
                </li>
                <li class="">
                    <a title="Identifying and Setting Priorities Through Road Mapping of Decarbonization Projects" href="/About-Us/webinar/Identifying-and-Setting-Priorities-Through-Road-Mapping-of-Decarbonization-Projects">Identifying &amp; Setting Priorities Through Road Mapping of Decarbonization Projects</a>
                </li>
                <li class="">
                    <a title="Implementing Smart Digital Solutions for Power and Water Management" href="/About-Us/webinar/Implementing-Smart-Digital-Solutions-for-Power-and-Water-Management">Implementing Smart Digital Solutions for Power and Water Management</a>
                </li>
                <li class="">
                    <a title="Introduction to Operational Readiness" href="/About-Us/webinar/Introduction-to-Operational-Readiness">Introduction to Operational Readiness | How to unleash a project’s untapped potential</a>
                </li>
                <li class="">
                    <a title="on demand" href="/About-Us/webinar/on-demand">on demand</a>
                </li>
                <li class="">
                    <a title="Our Journey in Project Management" href="/About-Us/webinar/Our-Journey-in-Project-Management">Our Journey in Project Management</a>
                </li>
                <li class="">
                    <a title="Permanent floating safety PFS" href="/About-Us/webinar/Permanent-floating-safety-PFS">permanent floating safety booms</a>
                </li>
                <li class="">
                    <a title="PneuCalc-12072021" href="/About-Us/webinar/PneuCalc-12072021">Demostraci&#243;n en vivo sobre c&#243;mo el software PneuCalc</a>
                </li>
                <li class="">
                    <a title="PneuCalc-demystifying pneumatic conveying" href="/About-Us/webinar/PneuCalc-demystifying-pneumatic-conveying">PneuCalc: demystifying pneumatic conveying in the cement industry</a>
                </li>
                <li class="">
                    <a title="Project delivery strategies" href="/About-Us/webinar/Project-delivery-strategies">Project delivery strategies during COVID-19: Kenmare Resources as an African case study</a>
                </li>
                <li class="">
                    <a title="rak" href="/About-Us/webinar/rak">Energy efficiency and public-private partnerships</a>
                </li>
                <li class="">
                    <a title="SME" href="/About-Us/webinar/SME">SME</a>
                </li>
                <li class="">
                    <a title="Social inclusion - inhibitor or an enabler" href="/About-Us/webinar/Social-inclusion---inhibitor-or-an-enabler">Social inclusion: an inhibitor or an enabler?</a>
                </li>
                <li class="">
                    <a title="Sustainable Cities Series-Glasgow-Montreal" href="/About-Us/webinar/Sustainable-Cities-Series-Glasgow-Montreal">Sustainable Cities Series-Glasgow-Montreal</a>
                </li>
                <li class="">
                    <a title="Sustainable mining_The future is now" href="/About-Us/webinar/Sustainable-mining_The-future-is-now">Sustainable mining: The future is now</a>
                </li>
                <li class="">
                    <a title="The Digital Drift" href="/About-Us/webinar/The-Digital-Drift">The Digital Drift</a>
                </li>
                <li class="">
                    <a title="The XTL Technology Landscape" href="/About-Us/webinar/The-XTL-Technology-Landscape">The XTL Technology Landscape: Overview of technology options and key selection considerations</a>
                </li>
            </ul>

        </li>
        <li class="">
            <a title="Ethics-And-Sustainability" href="/About-Us/Ethics-And-Sustainability">Ethics &amp; Integrity </a>
        </li>
        <li class="">
            <a title="Information for Suppliers" href="/About-Us/Information-for-Suppliers">Information for Suppliers</a>
        </li>
        <li class="">
            <a title="News-And-Media" href="/About-Us/News-And-Media">News &amp; Media</a>
        </li>
        <li class="">
            <a title="Office-Locations" href="/About-Us/Office-Locations">Office Locations</a>                    <a href="#" class="dropdown-plus " data-toggle="collapse-next">+</a>
            <ul class="nav navbar-nav collapse">
                <li class="">
                    <a title="Australia" href="/About-Us/Office-Locations/Australia">Australia</a>
                </li>
                <li class="">
                    <a title="Brazil" href="/About-Us/Office-Locations/Brazil">Brazil</a>
                </li>
                <li class="">
                    <a title="Canada" href="/About-Us/Office-Locations/Canada">Canada</a>
                </li>
                <li class="">
                    <a title="Chile" href="/About-Us/Office-Locations/Chile">Chile</a>
                </li>
                <li class="">
                    <a title="China" href="/About-Us/Office-Locations/China">China</a>
                </li>
                <li class="">
                    <a title="Colombia" href="/About-Us/Office-Locations/Colombia">Colombia</a>
                </li>
                <li class="">
                    <a title="Iceland" href="/About-Us/Office-Locations/Iceland">Iceland</a>
                </li>
                <li class="">
                    <a title="India" href="/About-Us/Office-Locations/India">India</a>
                </li>
                <li class="">
                    <a title="Indonesia" href="/About-Us/Office-Locations/Indonesia">Indonesia</a>
                </li>
                <li class="">
                    <a title="Oman" href="/About-Us/Office-Locations/Oman">Oman</a>
                </li>
                <li class="">
                    <a title="Peru" href="/About-Us/Office-Locations/Peru">Peru</a>
                </li>
                <li class="">
                    <a title="Saudi Arabia" href="/About-Us/Office-Locations/Saudi-Arabia">Saudi Arabia</a>
                </li>
                <li class="">
                    <a title="South Africa" href="/About-Us/Office-Locations/South-Africa">South Africa</a>
                </li>
                <li class="">
                    <a title="Suriname" href="/About-Us/Office-Locations/Suriname">Suriname</a>
                </li>
                <li class="">
                    <a title="Sweden" href="/About-Us/Office-Locations/Sweden">Sweden</a>
                </li>
                <li class="">
                    <a title="United Arab Emirates" href="/About-Us/Office-Locations/United-Arab-Emirates">United Arab Emirates</a>
                </li>
                <li class="">
                    <a title="United Kingdom" href="/About-Us/Office-Locations/United-Kingdom">United Kingdom</a>
                </li>
                <li class="">
                    <a title="United States" href="/About-Us/Office-Locations/United-States">United States</a>
                </li>
            </ul>

        </li>
        <li class="">
            <a title="Publications" href="/About-Us/Publications">Publications</a>
            <a href="#" class="dropdown-plus " data-toggle="collapse-next">+</a>
            <ul class="nav navbar-nav collapse">
                <li class="">
                    <a title="Blogs" href="/About-Us/Publications/Blogs">Blogs</a>
                </li>
                <li class="">
                    <a title="Newsletter" href="/About-Us/Publications/Newsletter">Newsletter</a>
                </li>
                <li class="">
                    <a title="Performance Innovations" href="/About-Us/Publications/Performance-Innovations">Performance Innovations</a>
                </li>
                <li class="">
                    <a title="Sustainability Report" href="/About-Us/Publications/Sustainability-Report">Sustainability Report</a>
                </li>
                <li class="">
                    <a title="Technical-Papers" href="/About-Us/Publications/Technical-Papers">Technical Papers</a>
                </li>
            </ul>

        </li>
        <li class="">
            <a title="Contact Us" href="/About-Us/Contact-Us"> Contact Us </a>
        </li>
    </ul>

</li>