<li class="">
    <a title="Projects" href="/Projects">Projects</a>
    <a href="#" class="dropdown-plus " data-toggle="collapse-next">+</a>
    <ul class="nav navbar-nav collapse">
        <li class="">
            <a title="Metals-And-Minerals" href="/Projects/Metals-And-Minerals">Metals &amp; Minerals Projects</a>                    <a href="#" class="dropdown-plus " data-toggle="collapse-next">+</a>
            <ul class="nav navbar-nav collapse">
                <li class="">
                    <a title="AP60" href="/Projects/Metals-And-Minerals/AP60">AP60 Smelter</a>
                </li>
                <li class="">
                    <a title="Al Taweelah alumina refinery" href="/Projects/Metals-And-Minerals/Al-Taweelah-alumina-refinery">Al Taweelah alumina refinery</a>
                </li>
                <li class="">
                    <a title="AlcoaHatch Northeast Alliance" href="/Projects/Metals-And-Minerals/AlcoaHatch-Northeast-Alliance">Alcoa–Hatch Northeast Alliance</a>
                </li>
                <li class="">
                    <a title="Alumar Unit 2" href="/Projects/Metals-And-Minerals/Alumar-Unit-2">Alumar Unit 2</a>
                </li>
                <li class="">
                    <a title="Anling 1700 mm Coilbox" href="/Projects/Metals-And-Minerals/Anling-1700-mm-Coilbox">Anling 1700 mm Coilbox™</a>
                </li>
                <li class="">
                    <a title="ArcelorMittal Exploitation miniere du Canada" href="/Projects/Metals-And-Minerals/ArcelorMittal-Exploitation-miniere-du-Canada">ArcelorMittal Exploitation miniere du Canada</a>
                </li>
                <li class="">
                    <a title="ArcelorMittal SA Vandervijlpark FFF System Design and Supply" href="/Projects/Metals-And-Minerals/ArcelorMittal-SA-Vandervijlpark-FFF-System-Design-and-Supply">ArcelorMittal SA Vandervijlpark FFF System Design and Supply</a>
                </li>
                <li class="">
                    <a title="Barro Alto" href="/Projects/Metals-And-Minerals/Barro-Alto">Barro Alto Electric Furnace Upgrade</a>
                </li>
                <li class="">
                    <a title="Business turnaround" href="/Projects/Metals-And-Minerals/Business-turnaround">Business turnaround</a>
                </li>
                <li class="">
                    <a title="Carbon and Energy Reduction Strategy" href="/Projects/Metals-And-Minerals/Carbon-and-Energy-Reduction-Strategy">Carbon and Energy Reduction Strategy</a>
                </li>
                <li class="">
                    <a title="Catastrophic risk assurance program" href="/Projects/Metals-And-Minerals/Catastrophic-risk-assurance-program">Catastrophic risk assurance program</a>
                </li>
                <li class="">
                    <a title="Chuquicamata Underground Mine" href="/Projects/Metals-And-Minerals/Chuquicamata-Underground-Mine">Chuquicamata Underground Mine</a>
                </li>
                <li class="">
                    <a title="Cigar Leach Hydrogen Mitigation Project" href="/Projects/Metals-And-Minerals/Cigar-Leach-Hydrogen-Mitigation-Project">Cigar Leach Hydrogen Mitigation Project</a>
                </li>
                <li class="">
                    <a title="Clairton Improvement Project" href="/Projects/Metals-And-Minerals/Clairton-Improvement-Project">Clairton Improvement Project</a>
                </li>
                <li class="">
                    <a title="Concentrate Burner Improvement and Swirl Disperser Technology Development" href="/Projects/Metals-And-Minerals/Concentrate-Burner-Improvement-and-Swirl-Disperser-Technology-Development">Concentrate Burner Improvement and Swirl Disperser Technology Development</a>
                </li>
                <li class="">
                    <a title="Dehydration Area and Core Technology Delivery Projects" href="/Projects/Metals-And-Minerals/Dehydration-Area-and-Core-Technology-Delivery-Projects">Dehydration Area and Core Technology Delivery Projects</a>
                </li>
                <li class="">
                    <a title="Digital transformation and business improvement" href="/Projects/Metals-And-Minerals/Digital-transformation-and-business-improvement">Digital transformation and business improvement</a>
                </li>
                <li class="">
                    <a title="Drayton South Open Cut Coal Mine" href="/Projects/Metals-And-Minerals/Drayton-South-Open-Cut-Coal-Mine">Drayton South Open-Cut Coal Mine</a>
                </li>
                <li class="">
                    <a title="DST Demonstration Plant" href="/Projects/Metals-And-Minerals/DST-Demonstration-Plant">DST Demonstration Plant</a>
                </li>
                <li class="">
                    <a title="Dust insufflation project at the Cerro Matoso nickel smelter" href="/Projects/Metals-And-Minerals/Dust-insufflation-project-at-the-Cerro-Matoso-nickel-smelter">Dust insufflation project at the Cerro Matoso nickel smelter</a>
                </li>
                <li class="">
                    <a title="Eagle Point Mine" href="/Projects/Metals-And-Minerals/Eagle-Point-Mine">Eagle Point Mine</a>
                </li>
                <li class="">
                    <a title="Esterhazy K3 Expansion Project" href="/Projects/Metals-And-Minerals/Esterhazy-K3-Expansion-Project">Esterhazy K3 Expansion Project</a>
                </li>
                <li class="">
                    <a title="EsterhazyK1K2Expansion Project" href="/Projects/Metals-And-Minerals/EsterhazyK1K2Expansion-Project">Esterhazy K1 and K2 Expansion Project</a>
                </li>
                <li class="">
                    <a title="FaustinaBrownfieldFertilizerPlant" href="/Projects/Metals-And-Minerals/FaustinaBrownfieldFertilizerPlant">Faustina Brownfield Fertilizer Plant</a>
                </li>
                <li class="">
                    <a title="GahchoKue" href="/Projects/Metals-And-Minerals/GahchoKue">Gahcho Ku&#233; Diamond Mine</a>
                </li>
                <li class="">
                    <a title="Galaxy Jiangsu Lithium Carbonate Plant" href="/Projects/Metals-And-Minerals/Galaxy-Jiangsu-Lithium-Carbonate-Plant">Galaxy Jiangsu Lithium Carbonate Plant</a>
                </li>
                <li class="">
                    <a title="Gold mine in Western Australia" href="/Projects/Metals-And-Minerals/Gold-mine-in-Western-Australia">Gold mine in Western Australia</a>
                </li>
                <li class="">
                    <a title="GrosvenorUndergroundCoalMineExecution" href="/Projects/Metals-And-Minerals/GrosvenorUndergroundCoalMineExecution">Grosvenor Underground Coal Mine Execution</a>
                </li>
                <li class="">
                    <a title="Hatch Glencore Technology Venture" href="/Projects/Metals-And-Minerals/Hatch-Glencore-Technology-Venture">Hatch-Glencore Technology Venture</a>
                </li>
                <li class="">
                    <a title="Jadar Project" href="/Projects/Metals-And-Minerals/Jadar-Project">Jadar Project</a>
                </li>
                <li class="">
                    <a title="Jamalco Phase One" href="/Projects/Metals-And-Minerals/Jamalco-Phase-One">Jamalco Phase One</a>
                </li>
                <li class="">
                    <a title="JR Simplot Phosphoric Acid Plant Expansion Projects" href="/Projects/Metals-And-Minerals/JR-Simplot-Phosphoric-Acid-Plant-Expansion-Projects">J.R. Simplot Phosphoric Acid Plant Expansion Project</a>
                </li>
                <li class="">
                    <a title="Kamoto Refinery and Roaster Refurbishment" href="/Projects/Metals-And-Minerals/Kamoto-Refinery-and-Roaster-Refurbishment">Kamoto Refinery &amp; Roaster Refurbishment</a>
                </li>
                <li class="">
                    <a title="Kemano Second Tunnel T2 Project" href="/Projects/Metals-And-Minerals/Kemano-Second-Tunnel-T2-Project">Kemano Second Tunnel (T2) Project</a>
                </li>
                <li class="">
                    <a title="Long Harbour Processing Plant" href="/Projects/Metals-And-Minerals/Long-Harbour-Processing-Plant">Long Harbour Processing Plant</a>
                </li>
                <li class="">
                    <a title="Long term support and performance enhancements for RTFT" href="/Projects/Metals-And-Minerals/Long-term-support-and-performance-enhancements-for-RTFT">Long-Term Support and Performance Enhancements </a>
                </li>
                <li class="">
                    <a title="Maaden Alumina Refinery" href="/Projects/Metals-And-Minerals/Maaden-Alumina-Refinery">Maaden Alumina Refinery</a>
                </li>
                <li class="">
                    <a title="Maaden Bulghah Gold Project" href="/Projects/Metals-And-Minerals/Maaden-Bulghah-Gold-Project">Maaden Bulghah Gold Project</a>
                </li>
                <li class="">
                    <a title="Maboumine Demonstration Plant" href="/Projects/Metals-And-Minerals/Maboumine-Demonstration-Plant">Maboumine Demonstration Plant</a>
                </li>
                <li class="">
                    <a title="Mary River Iron Ore Development" href="/Projects/Metals-And-Minerals/Mary-River-Iron-Ore-Development">Mary River Iron Ore Development</a>
                </li>
                <li class="">
                    <a title="Meadowbank Gold Project" href="/Projects/Metals-And-Minerals/Meadowbank-Gold-Project">Meadowbank Gold Project</a>
                </li>
                <li class="">
                    <a title="Mina Ministro Hales" href="/Projects/Metals-And-Minerals/Mina-Ministro-Hales">Mina Ministro Hales</a>
                </li>
                <li class="">
                    <a title="Mosaic New Wales MicroEssentials Conversion Project" href="/Projects/Metals-And-Minerals/Mosaic-New-Wales-MicroEssentials-Conversion-Project">Mosaic New Wales MicroEssentials Conversion Project</a>
                </li>
                <li class="">
                    <a title="MSPTailingsTreatmentPlant" href="/Projects/Metals-And-Minerals/MSPTailingsTreatmentPlant">MSP Tailings Treatment Plant</a>
                </li>
                <li class="">
                    <a title="Muga Potash Plant" href="/Projects/Metals-And-Minerals/Muga-Potash-Plant">Muga Potash Plant</a>
                </li>
                <li class="">
                    <a title="Nickel Rim South" href="/Projects/Metals-And-Minerals/Nickel-Rim-South">Nickel Rim South</a>
                </li>
                <li class="">
                    <a title="Northam Converter Dry Slag Granulation" href="/Projects/Metals-And-Minerals/Northam-Converter-Dry-Slag-Granulation">Northam Converter Dry Slag Granulation</a>
                </li>
                <li class="">
                    <a title="Onca Puma Furnace 1 Rebuild" href="/Projects/Metals-And-Minerals/Onca-Puma-Furnace-1-Rebuild">On&#231;a Puma Furnace 1 Rebuild</a>
                </li>
                <li class="">
                    <a title="Organizational design and right-sizing" href="/Projects/Metals-And-Minerals/Organizational-design-and-right-sizing">Organizational design and right-sizing</a>
                </li>
                <li class="">
                    <a title="Phoenix Mill Expansion" href="/Projects/Metals-And-Minerals/Phoenix-Mill-Expansion">Phoenix Mill Expansion</a>
                </li>
                <li class="">
                    <a title="Port Waratah Coal Services Bucketwheel Reclaimer" href="/Projects/Metals-And-Minerals/Port-Waratah-Coal-Services-Bucketwheel-Reclaimer">Port Waratah Coal Services Bucketwheel Reclaimer</a>
                </li>
                <li class="">
                    <a title="Process Gas Project and the Particulate Emissions Project Sudbury Smelter" href="/Projects/Metals-And-Minerals/Process-Gas-Project-and-the-Particulate-Emissions-Project-Sudbury-Smelter">Process Gas Project and the Particulate Emissions Project Sudbury Smelter</a>
                </li>
                <li class="">
                    <a title="Pueblo Viejo" href="/Projects/Metals-And-Minerals/Pueblo-Viejo">Pueblo Viejo – Pressure Oxidation and Air Separation Project</a>
                </li>
                <li class="">
                    <a title="Raglan Mine-Phase II Mining Projects 8H and 14" href="/Projects/Metals-And-Minerals/Raglan-Mine-Phase-II-Mining-Projects-8H-and-14">Raglan Mine — Phase II Mining Projects 8H and 14</a>
                </li>
                <li class="">
                    <a title="Ranger Brine Concentrator Project" href="/Projects/Metals-And-Minerals/Ranger-Brine-Concentrator-Project">Ranger Brine Concentrator </a>
                </li>
                <li class="">
                    <a title="Relocation of Wet Concentrator Plant" href="/Projects/Metals-And-Minerals/Relocation-of-Wet-Concentrator-Plant">Relocation of Wet Concentrator Plant (WCP) B</a>
                </li>
                <li class="">
                    <a title="Resolution Copper Mine No 9 Shaft Deepening Project" href="/Projects/Metals-And-Minerals/Resolution-Copper-Mine-No-9-Shaft-Deepening-Project">Resolution Copper Mine — No. 9 Shaft Deepening Project</a>
                </li>
                <li class="">
                    <a title="Review of tailings dam safety inspections" href="/Projects/Metals-And-Minerals/Review-of-tailings-dam-safety-inspections">Review of tailings dam safety inspections</a>
                </li>
                <li class="">
                    <a title="Sierra Gorda Molybdenum Plant" href="/Projects/Metals-And-Minerals/Sierra-Gorda-Molybdenum-Plant">Sierra Gorda Molybdenum Plant</a>
                </li>
                <li class="">
                    <a title="Sishen South Project" href="/Projects/Metals-And-Minerals/Sishen-South-Project">Sishen South Project</a>
                </li>
                <li class="">
                    <a title="Smelter operation scheduling" href="/Projects/Metals-And-Minerals/Smelter-operation-scheduling">Smelter operation scheduling</a>
                </li>
                <li class="">
                    <a title="Spudless Dredge Automation" href="/Projects/Metals-And-Minerals/Spudless-Dredge-Automation">Spudless Dredge Automation</a>
                </li>
                <li class="">
                    <a title="Sulfuric Acid Plant" href="/Projects/Metals-And-Minerals/Sulfuric-Acid-Plant">Sulfuric Acid Plant</a>
                </li>
                <li class="">
                    <a title="Tasiast Expansion Project" href="/Projects/Metals-And-Minerals/Tasiast-Expansion-Project">Tasiast Expansion Project</a>
                </li>
                <li class="">
                    <a title="Tenke Fungurume Mine" href="/Projects/Metals-And-Minerals/Tenke-Fungurume-Mine">Tenke Fungurume Mine</a>
                </li>
                <li class="">
                    <a title="Twin Creeks Autoclave Tonnage Improvement" href="/Projects/Metals-And-Minerals/Twin-Creeks-Autoclave-Tonnage-Improvement">Twin Creeks Autoclave Tonnage Improvement</a>
                </li>
                <li class="">
                    <a title="Twin Creeks Mercury Abatement Project" href="/Projects/Metals-And-Minerals/Twin-Creeks-Mercury-Abatement-Project">Twin Creeks Mercury Abatement Project</a>
                </li>
                <li class="">
                    <a title="UGS 375 ktpa Plant Expansion" href="/Projects/Metals-And-Minerals/UGS-375-ktpa-Plant-Expansion">UGS 375 ktpa Plant Expansion</a>
                </li>
                <li class="">
                    <a title="Underground mine scheduling" href="/Projects/Metals-And-Minerals/Underground-mine-scheduling">Underground mine scheduling</a>
                </li>
                <li class="">
                    <a title="US Steel Mon Valley Works FFF System" href="/Projects/Metals-And-Minerals/US-Steel-Mon-Valley-Works-FFF-System">US Steel Mon Valley Works FFF System</a>
                </li>
                <li class="">
                    <a title="USS Gary Works No 8 Blast Furnace Reline" href="/Projects/Metals-And-Minerals/USS-Gary-Works-No-8-Blast-Furnace-Reline">USS Gary Works No 8 Blast Furnace Reline</a>
                </li>
                <li class="">
                    <a title="Vaudreuil 2022 Phase I" href="/Projects/Metals-And-Minerals/Vaudreuil-2022-Phase-I">Vaudreuil 2022 Phase I</a>
                </li>
                <li class="">
                    <a title="Voiseys Bay Mine Expansion" href="/Projects/Metals-And-Minerals/Voiseys-Bay-Mine-Expansion">Voisey&#39;s Bay Mine Expansion</a>
                </li>
                <li class="">
                    <a title="Water sampling at depth with drones" href="/Projects/Metals-And-Minerals/Water-sampling-at-depth-with-drones">Water sampling at depth with drones</a>
                </li>
                <li class="">
                    <a title="Yarwun Alumina Refinery" href="/Projects/Metals-And-Minerals/Yarwun-Alumina-Refinery">Yarwun Alumina Refinery</a>
                </li>
                <li class="">
                    <a title="Zaporizshstal 1680 mm Coilbox" href="/Projects/Metals-And-Minerals/Zaporizshstal-1680-mm-Coilbox">Zaporizshstal 1680 mm Coilbox™</a>
                </li>
                <li class="">
                    <a title="Zinc Sulfide Concentrate Treatment" href="/Projects/Metals-And-Minerals/Zinc-Sulfide-Concentrate-Treatment">Zinc Sulfide Concentrate Treatment</a>
                </li>
            </ul>

        </li>
        <li class="">
            <a title="Energy" href="/Projects/Energy">Energy Projects</a>                    <a href="#" class="dropdown-plus " data-toggle="collapse-next">+</a>
            <ul class="nav navbar-nav collapse">
                <li class="">
                    <a title="Apiacas Hydro Complex Project" href="/Projects/Energy/Apiacas-Hydro-Complex-Project">Apiac&#225;s Hydro Complex Project </a>
                </li>
                <li class="">
                    <a title="Bruce Power Refurbishment and Major Component Replacement Program" href="/Projects/Energy/Bruce-Power-Refurbishment-and-Major-Component-Replacement-Program">Bruce Power Refurbishment and Major Component Replacement Program</a>
                </li>
                <li class="">
                    <a title="Chaudiere Falls Hydroelectric Redevelopment Project" href="/Projects/Energy/Chaudiere-Falls-Hydroelectric-Redevelopment-Project">Chaudi&#232;re Falls Hydroelectric Redevelopment</a>
                </li>
                <li class="">
                    <a title="Darlington and Pickering Nuclear Generating Stations Operational Support" href="/Projects/Energy/Darlington-and-Pickering-Nuclear-Generating-Stations-Operational-Support">Darlington and Pickering Nuclear Generating Stations Operational Support</a>
                </li>
                <li class="">
                    <a title="Al Taweelah Alumina power and steam integration" href="/Projects/Energy/Al-Taweelah-Alumina-power-and-steam-integration">Al Taweelah Alumina power and steam integration</a>
                </li>
                <li class="">
                    <a title="Al Taweelah Alumina refinery operational readiness" href="/Projects/Energy/Al-Taweelah-Alumina-refinery-operational-readiness">Al Taweelah Alumina refinery operational readiness</a>
                </li>
                <li class="">
                    <a title="Becancour Green Hydrogen Plant" href="/Projects/Energy/Becancour-Green-Hydrogen-Plant">B&#233;cancour Green Hydrogen Plant</a>
                </li>
                <li class="">
                    <a title="Coal-fired power station maintenance outage" href="/Projects/Energy/Coal-fired-power-station-maintenance-outage">Coal-fired power station maintenance outage</a>
                </li>
                <li class="">
                    <a title="Enhancing Dam Safety in Nepal" href="/Projects/Energy/Enhancing-Dam-Safety-in-Nepal">Enhancing Dam Safety in Nepal</a>
                </li>
                <li class="">
                    <a title="Exploits River Hydroelectric Assets Condition Assessment" href="/Projects/Energy/Exploits-River-Hydroelectric-Assets-Condition-Assessment">Exploits River Hydroelectric Assets Condition Assessment</a>
                </li>
                <li class="">
                    <a title="Grand Falls Dam and Spillway Rehabilitation" href="/Projects/Energy/Grand-Falls-Dam-and-Spillway-Rehabilitation">Grand Falls Dam and Spillway Rehabilitation</a>
                </li>
                <li class="">
                    <a title="Hells Kitchen Integrated Lithium and Power Project" href="/Projects/Energy/Hells-Kitchen-Integrated-Lithium-and-Power-Project">Hells Kitchen Integrated Lithium and Power Project</a>
                </li>
                <li class="">
                    <a title="Implementing an Energy Management Information System" href="/Projects/Energy/Implementing-an-Energy-Management-Information-System">Implementing an Energy Management Information System (EMIS)</a>
                </li>
                <li class="">
                    <a title="Jordans IPP3" href="/Projects/Energy/Jordans-IPP3">Jordan&#39;s IPP3 </a>
                </li>
                <li class="">
                    <a title="Kashechewan First Nation flood risk forecasting and mitigation" href="/Projects/Energy/Kashechewan-First-Nation-flood-risk-forecasting-and-mitigation">Kashechewan First Nation flood-risk forecasting and mitigation</a>
                </li>
                <li class="">
                    <a title="Keeyask Generation Project" href="/Projects/Energy/Keeyask-Generation-Project">Keeyask Generation Project</a>
                </li>
                <li class="">
                    <a title="Kelso Dam urgent repairs and rehabilitation project" href="/Projects/Energy/Kelso-Dam-urgent-repairs-and-rehabilitation-project">Kelso Dam: urgent repairs and rehabilitation project</a>
                </li>
                <li class="">
                    <a title="Mesquite Solar 1" href="/Projects/Energy/Mesquite-Solar-1">Mesquite Solar 1</a>
                </li>
                <li class="">
                    <a title="Pocheon combined cycle power plant for an independent power producer" href="/Projects/Energy/Pocheon-combined-cycle-power-plant-for-an-independent-power-producer">Pocheon combined cycle power plant for an independent power producer</a>
                </li>
                <li class="">
                    <a title="Pre-conceptual support for fusion reactors" href="/Projects/Energy/Pre-conceptual-support-for-fusion-reactors">Pre-conceptual support for fusion reactors</a>
                </li>
                <li class="">
                    <a title="Rosslyn Brewery Cogeneration Plant" href="/Projects/Energy/Rosslyn-Brewery-Cogeneration-Plant">Rosslyn Brewery Cogeneration Plant</a>
                </li>
                <li class="">
                    <a title="SunCoke South Shore Project" href="/Projects/Energy/SunCoke-South-Shore-Project">SunCoke South Shore Project</a>
                </li>
                <li class="">
                    <a title="Thunder Bay solar projects" href="/Projects/Energy/Thunder-Bay-solar-projects">Thunder Bay solar projects</a>
                </li>
                <li class="">
                    <a title="Upper Feeder Platforms" href="/Projects/Energy/Upper-Feeder-Platforms">Upper Feeder Platforms</a>
                </li>
                <li class="">
                    <a title="Utility Grade Microgrid Controller Development" href="/Projects/Energy/Utility-Grade-Microgrid-Controller-Development">Utility Grade Microgrid Controller Development</a>
                </li>
                <li class="">
                    <a title="Westinghouse AP1000 Nuclear Plant Program" href="/Projects/Energy/Westinghouse-AP1000-Nuclear-Plant-Program">Westinghouse AP1000™ Nuclear Plant Program</a>
                </li>
                <li class="">
                    <a title="Weyburn Carbon Capture Utilization and Sequestration Project" href="/Projects/Energy/Weyburn-Carbon-Capture-Utilization-and-Sequestration-Project">Weyburn Carbon Capture Utilization and Sequestration Project</a>
                </li>
                <li class="">
                    <a title="Xe-100 technology development program" href="/Projects/Energy/Xe-100-technology-development-program">Xe-100 technology development program</a>
                </li>
                <li class="">
                    <a title="Forrest Kerr Hydroelectric Project" href="/Projects/Energy/Forrest-Kerr-Hydroelectric-Project">Forrest Kerr Hydroelectric Project</a>
                </li>
                <li class="">
                    <a title="Gorgon LNG" href="/Projects/Energy/Gorgon-LNG">Gorgon Project</a>
                </li>
                <li class="">
                    <a title="Habshan Sulfur Granulation Project" href="/Projects/Energy/Habshan-Sulfur-Granulation-Project">Habshan Sulfur Granulation </a>
                </li>
                <li class="">
                    <a title="Hardisty Operational Crude Tank" href="/Projects/Energy/Hardisty-Operational-Crude-Tank">Hardisty Operational Crude Tank</a>
                </li>
                <li class="">
                    <a title="Horizon Pipeline Capacity Expansion" href="/Projects/Energy/Horizon-Pipeline-Capacity-Expansion">Horizon Pipeline Capacity Expansion</a>
                </li>
                <li class="">
                    <a title="Pump Station VFD Replacements" href="/Projects/Energy/Pump-Station-VFD-Replacements">Pump Station VFD Replacements</a>
                </li>
                <li class="">
                    <a title="Vesta SWX Facilities Pipeline" href="/Projects/Energy/Vesta-SWX-Facilities-Pipeline">Vesta SWX Facilities &amp; Pipeline</a>
                </li>
                <li class="">
                    <a title="Inflow Forecasting for Muskrat Falls Flood Management" href="/Projects/Energy/Inflow-Forecasting-for-Muskrat-Falls-Flood-Management">Inflow Forecasting for Muskrat Falls Flood Management</a>
                </li>
                <li class="">
                    <a title="Interior to Lower Mainland Transmission Project" href="/Projects/Energy/Interior-to-Lower-Mainland-Transmission-Project">Interior to Lower Mainland Transmission Project</a>
                </li>
                <li class="">
                    <a title="Karabiga Power Project" href="/Projects/Energy/Karabiga-Power-Project">Karabiga Power Plant</a>
                </li>
                <li class="">
                    <a title="Keenleyside Dam Spillway Gate Improvements" href="/Projects/Energy/Keenleyside-Dam-Spillway-Gate-Improvements">Keenleyside Dam Spillway Gate Improvements</a>
                </li>
                <li class="">
                    <a title="Kitimat Clean" href="/Projects/Energy/Kitimat-Clean">Kitimat Clean Refinery</a>
                </li>
                <li class="">
                    <a title="Lower Connecticut River Relicensing Study" href="/Projects/Energy/Lower-Connecticut-River-Relicensing-Study">Lower Connecticut River Relicensing Study</a>
                </li>
                <li class="">
                    <a title="Lower Mattagami" href="/Projects/Energy/Lower-Mattagami">Lower Mattagami River Project</a>
                </li>
                <li class="">
                    <a title="Maritime Link Project" href="/Projects/Energy/Maritime-Link-Project">Maritime Link </a>
                </li>
                <li class="">
                    <a title="McArthur River Electrical Substation" href="/Projects/Energy/McArthur-River-Electrical-Substation">McArthur River Electrical Substation</a>
                </li>
                <li class="">
                    <a title="Nsolv Pilot Plant" href="/Projects/Energy/Nsolv-Pilot-Plant">Nsolv Pilot Plant</a>
                </li>
                <li class="">
                    <a title="NYPA Day Ahead Scheduling for StLawrence Power Project" href="/Projects/Energy/NYPA-Day-Ahead-Scheduling-for-StLawrence-Power-Project">NYPA Day Ahead Scheduling for St. Lawrence Power Project</a>
                </li>
                <li class="">
                    <a title="Oxec II Hydroelectric Project" href="/Projects/Energy/Oxec-II-Hydroelectric-Project">Oxec II Hydroelectric Project</a>
                </li>
                <li class="">
                    <a title="Raglan Mine Integrated Wind Storage Diesel Energy Project" href="/Projects/Energy/Raglan-Mine-Integrated-Wind-Storage-Diesel-Energy-Project">Raglan Mine Integrated Wind-Storage-Diesel Energy </a>
                </li>
                <li class="">
                    <a title="Rainy River Solar" href="/Projects/Energy/Rainy-River-Solar">Rainy River Solar</a>
                </li>
                <li class="">
                    <a title="Waste Repositories for the Nuclear Waste Management Organization" href="/Projects/Energy/Waste-Repositories-for-the-Nuclear-Waste-Management-Organization">Waste Repositories for the Nuclear Waste Management Organization</a>
                </li>
            </ul>

        </li>
        <li class="">
            <a title="Infrastructure" href="/Projects/Infrastructure">Infrastructure Projects</a>                    <a href="#" class="dropdown-plus " data-toggle="collapse-next">+</a>
            <ul class="nav navbar-nav collapse">
                <li class="">
                    <a title="Abbotsford International Airport Parallel Taxiway and Apron Extension" href="/Projects/Infrastructure/Abbotsford-International-Airport-Parallel-Taxiway-and-Apron-Extension">Abbotsford International Airport Parallel Taxiway and Apron Extension</a>
                </li>
                <li class="">
                    <a title="Airbus Final Assembly Line" href="/Projects/Infrastructure/Airbus-Final-Assembly-Line">Airbus Final Assembly Line</a>
                </li>
                <li class="">
                    <a title="Ashbridges Bay Treatment Plant Outfall" href="/Projects/Infrastructure/Ashbridges-Bay-Treatment-Plant-Outfall">Ashbridges Bay Treatment Plant Outfall</a>
                </li>
                <li class="">
                    <a title="Austin Freight Operations and Maintenance Business Plan" href="/Projects/Infrastructure/Austin-Freight-Operations-and-Maintenance-Business-Plan">Austin Freight Operations and Maintenance Business Plan</a>
                </li>
                <li class="">
                    <a title="Baffinland Mary River Aerodrome" href="/Projects/Infrastructure/Baffinland-Mary-River-Aerodrome">Baffinland—Mary River Aerodrome</a>
                </li>
                <li class="">
                    <a title="Bandar Malaysia" href="/Projects/Infrastructure/Bandar-Malaysia">Bandar Malaysia</a>
                </li>
                <li class="">
                    <a title="Boston Takes Charge of Zero-Emissions Opportunity" href="/Projects/Infrastructure/Boston-Takes-Charge-of-Zero-Emissions-Opportunity">Boston Takes Charge of Zero-Emissions Opportunity</a>
                </li>
                <li class="">
                    <a title="Burnhamthorpe Water Project" href="/Projects/Infrastructure/Burnhamthorpe-Water-Project">Burnhamthorpe Water Project</a>
                </li>
                <li class="">
                    <a title="Calgary Green Line LRT" href="/Projects/Infrastructure/Calgary-Green-Line-LRT">Calgary Green Line LRT</a>
                </li>
                <li class="">
                    <a title="Calgary Green Line LRT Ancillary Revenue Options" href="/Projects/Infrastructure/Calgary-Green-Line-LRT-Ancillary-Revenue-Options">Calgary Green Line LRT Ancillary Revenue Options</a>
                </li>
                <li class="">
                    <a title="Calgary International Airport Runway Development Project" href="/Projects/Infrastructure/Calgary-International-Airport-Runway-Development-Project">Calgary International Airport Runway Development Project</a>
                </li>
                <li class="">
                    <a title="Calgary West Light Rail Transit" href="/Projects/Infrastructure/Calgary-West-Light-Rail-Transit">Calgary West Light Rail Transit</a>
                </li>
                <li class="">
                    <a title="Cancun International Airports New Runway" href="/Projects/Infrastructure/Cancun-International-Airports-New-Runway">Cancun International Airport&#39;s New Runway</a>
                </li>
                <li class="">
                    <a title="Centennial Parkway" href="/Projects/Infrastructure/Centennial-Parkway">Centennial Parkway</a>
                </li>
                <li class="">
                    <a title="Central Avenue Bridge Replacement" href="/Projects/Infrastructure/Central-Avenue-Bridge-Replacement">Central Avenue Bridge Replacement</a>
                </li>
                <li class="">
                    <a title="City of Mississauga Economic Development Strategy 2020-2025" href="/Projects/Infrastructure/City-of-Mississauga-Economic-Development-Strategy-2020-2025">City of Mississauga Economic Development Strategy 2020-2025</a>
                </li>
                <li class="">
                    <a title="COVID Economic Recovery Plans" href="/Projects/Infrastructure/COVID-Economic-Recovery-Plans">COVID Economic Recovery Plans</a>
                </li>
                <li class="">
                    <a title="Dalrymple Bay Coal Terminal 7X Project" href="/Projects/Infrastructure/Dalrymple-Bay-Coal-Terminal-7X-Project">Dalrymple Bay Coal Terminal 7X Project</a>
                </li>
                <li class="">
                    <a title="Davenport Diamond Rail Grade Separation" href="/Projects/Infrastructure/Davenport-Diamond-Rail-Grade-Separation">Davenport Diamond Rail Grade Separation</a>
                </li>
                <li class="">
                    <a title="Denver Regional Transportation Districts FasTracks Program" href="/Projects/Infrastructure/Denver-Regional-Transportation-Districts-FasTracks-Program">Denver Regional Transportation Districts FasTracks Program</a>
                </li>
                <li class="">
                    <a title="Detailed train scheduling" href="/Projects/Infrastructure/Detailed-train-scheduling">Detailed train scheduling</a>
                </li>
                <li class="">
                    <a title="Dulles Airport Tunnels" href="/Projects/Infrastructure/Dulles-Airport-Tunnels">Dulles Airport Tunnels</a>
                </li>
                <li class="">
                    <a title="Durban Aerotropolis Master Plan" href="/Projects/Infrastructure/Durban-Aerotropolis-Master-Plan">Durban Aerotropolis Master Plan</a>
                </li>
                <li class="">
                    <a title="East Harbour Transit Hub" href="/Projects/Infrastructure/East-Harbour-Transit-Hub">East Harbour Transit Hub</a>
                </li>
                <li class="">
                    <a title="Edmonton Valley Line LRT" href="/Projects/Infrastructure/Edmonton-Valley-Line-LRT">Edmonton Valley Line LRT</a>
                </li>
                <li class="">
                    <a title="Eglinton Crosstown Light Rail Transit" href="/Projects/Infrastructure/Eglinton-Crosstown-Light-Rail-Transit">Eglinton Crosstown Light Rail Transit</a>
                </li>
                <li class="">
                    <a title="Electrifying Toronto" href="/Projects/Infrastructure/Electrifying-Toronto">Electrifying Toronto</a>
                </li>
                <li class="">
                    <a title="Elm Road GS Water Intake Tunnel" href="/Projects/Infrastructure/Elm-Road-GS-Water-Intake-Tunnel">Elm Road GS Water Intake Tunnel</a>
                </li>
                <li class="">
                    <a title="Engineering Services to Canadian National Railway" href="/Projects/Infrastructure/Engineering-Services-to-Canadian-National-Railway">Engineering Services to Canadian National Railway</a>
                </li>
                <li class="">
                    <a title="Engineering Services to Canadian Pacific Railway" href="/Projects/Infrastructure/Engineering-Services-to-Canadian-Pacific-Railway">Engineering Services to Canadian Pacific Railway</a>
                </li>
                <li class="">
                    <a title="Euclid Creek Storage Tunnel" href="/Projects/Infrastructure/Euclid-Creek-Storage-Tunnel">Euclid Creek Storage Tunnel</a>
                </li>
                <li class="">
                    <a title="Fare Model Update in Los Angeles" href="/Projects/Infrastructure/Fare-Model-Update-in-Los-Angeles">Fare Model Update in Los Angeles</a>
                </li>
                <li class="">
                    <a title="Fremantle Container Terminal" href="/Projects/Infrastructure/Fremantle-Container-Terminal">Fremantle Container Terminal</a>
                </li>
                <li class="">
                    <a title="Halifax Shipyard Modernization Program" href="/Projects/Infrastructure/Halifax-Shipyard-Modernization-Program">Halifax Shipyard Modernization Program</a>
                </li>
                <li class="">
                    <a title="Highway 404 Extension" href="/Projects/Infrastructure/Highway-404-Extension">Highway 404 Extension</a>
                </li>
                <li class="">
                    <a title="HKG Integrated Ramp Services" href="/Projects/Infrastructure/HKG-Integrated-Ramp-Services">HKG Integrated Ramp Services</a>
                </li>
                <li class="">
                    <a title="Keswick Water Pollution Control Plant Upgrades and Outfall" href="/Projects/Infrastructure/Keswick-Water-Pollution-Control-Plant-Upgrades-and-Outfall">Keswick Water Pollution Control Plant Upgrades and Outfall</a>
                </li>
                <li class="">
                    <a title="King County trolley bus wired for success" href="/Projects/Infrastructure/King-County-trolley-bus-wired-for-success">King County trolley bus wired for success</a>
                </li>
                <li class="">
                    <a title="King Road at CN Rail Grade Separation" href="/Projects/Infrastructure/King-Road-at-CN-Rail-Grade-Separation">King Road at CN Rail Grade Separation</a>
                </li>
                <li class="">
                    <a title="King Transnet Freight Railway Mainline Deviation Project" href="/Projects/Infrastructure/King-Transnet-Freight-Railway-Mainline-Deviation-Project">King Transnet Freight Railway Mainline Deviation Project</a>
                </li>
                <li class="">
                    <a title="Kingston Third Crossing Waaban Crossing" href="/Projects/Infrastructure/Kingston-Third-Crossing-Waaban-Crossing">Kingston Third Crossing Waaban Crossing</a>
                </li>
                <li class="">
                    <a title="LAX Modernization Program" href="/Projects/Infrastructure/LAX-Modernization-Program">LAX Modernization Program</a>
                </li>
                <li class="">
                    <a title="Lima Refinery Wastewater Treatment Plant Upgrades" href="/Projects/Infrastructure/Lima-Refinery-Wastewater-Treatment-Plant-Upgrades">Lima Refinery Wastewater Treatment Plant Upgrades</a>
                </li>
                <li class="">
                    <a title="Long range master plan for Port of New York and New Jersey" href="/Projects/Infrastructure/Long-range-master-plan-for-Port-of-New-York-and-New-Jersey">Long range master plan for Port of New York and New Jersey</a>
                </li>
                <li class="">
                    <a title="Luggage Point Advanced Water Treatment Plant" href="/Projects/Infrastructure/Luggage-Point-Advanced-Water-Treatment-Plant">Luggage Point Advanced Water Treatment Plant</a>
                </li>
                <li class="">
                    <a title="Marathon Petroleum Desalter Blowdown Process and Treatment Facilities" href="/Projects/Infrastructure/Marathon-Petroleum-Desalter-Blowdown-Process-and-Treatment-Facilities">Marathon Petroleum Desalter Blowdown Process and Treatment Facilities</a>
                </li>
                <li class="">
                    <a title="Mary River Project Rail" href="/Projects/Infrastructure/Mary-River-Project-Rail">Mary River Project Rail Infrastructure</a>
                </li>
                <li class="">
                    <a title="Melbourne Metro Tunnel Independent Reviewer" href="/Projects/Infrastructure/Melbourne-Metro-Tunnel-Independent-Reviewer">Melbourne Metro Tunnel Independent Reviewer</a>
                </li>
                <li class="">
                    <a title="MidHalton Wastewater Treatment Plant" href="/Projects/Infrastructure/MidHalton-Wastewater-Treatment-Plant">Mid Halton Wastewater Treatment Plant</a>
                </li>
                <li class="">
                    <a title="Midmar Water Treatment Plant Upgrade" href="/Projects/Infrastructure/Midmar-Water-Treatment-Plant-Upgrade">Midmar Water Treatment Plant Upgrade</a>
                </li>
                <li class="">
                    <a title="Minneapolis weathers the storm with a new parallel tunnel" href="/Projects/Infrastructure/Minneapolis-weathers-the-storm-with-a-new-parallel-tunnel">Minneapolis weathers the storm with a new parallel tunnel</a>
                </li>
                <li class="">
                    <a title="NCIG Coal Export Terminal" href="/Projects/Infrastructure/NCIG-Coal-Export-Terminal">NCIG Coal Export Terminal</a>
                </li>
                <li class="">
                    <a title="Neptune Bulk Terminals Capacity Upgrade" href="/Projects/Infrastructure/Neptune-Bulk-Terminals-Capacity-Upgrade">Neptune Bulk Terminals Capacity Upgrade</a>
                </li>
                <li class="">
                    <a title="New York City Transit" href="/Projects/Infrastructure/New-York-City-Transit">New York City Transit</a>
                </li>
                <li class="">
                    <a title="Niagara Tunnel" href="/Projects/Infrastructure/Niagara-Tunnel">Niagara Tunnel</a>
                </li>
                <li class="">
                    <a title="Nipigon River Bridge Construction Contract Administration" href="/Projects/Infrastructure/Nipigon-River-Bridge-Construction-Contract-Administration">Nipigon River Bridge Construction – Contract Administration </a>
                </li>
                <li class="">
                    <a title="NorthWestPATHTunnel" href="/Projects/Infrastructure/NorthWestPATHTunnel">North-West PATH Tunnel</a>
                </li>
                <li class="">
                    <a title="Port Expansion Project Customs Free Zone Argos" href="/Projects/Infrastructure/Port-Expansion-Project-Customs-Free-Zone-Argos">Port Expansion Project Customs Free Zone Argos</a>
                </li>
                <li class="">
                    <a title="Port Mann Water Supply Tunnel" href="/Projects/Infrastructure/Port-Mann-Water-Supply-Tunnel">Port Mann Water Supply Tunnel</a>
                </li>
                <li class="">
                    <a title="PortMannHighway1Project" href="/Projects/Infrastructure/PortMannHighway1Project">Port Mann/Highway 1</a>
                </li>
                <li class="">
                    <a title="Procurement of 24 Waratah Series 2 electric multiple unit trains" href="/Projects/Infrastructure/Procurement-of-24-Waratah-Series-2-electric-multiple-unit-trains">Procurement of 24 Waratah Series 2 electric multiple unit trains</a>
                </li>
                <li class="">
                    <a title="Regional Connector Transit Corridor" href="/Projects/Infrastructure/Regional-Connector-Transit-Corridor">Regional Connector Transit Corridor</a>
                </li>
                <li class="">
                    <a title="Rt Honourable Herb Gray Parkway" href="/Projects/Infrastructure/Rt-Honourable-Herb-Gray-Parkway">Rt. Honourable Herb Gray Parkway </a>
                </li>
                <li class="">
                    <a title="San Francisco Municipal Transportation Agency" href="/Projects/Infrastructure/San-Francisco-Municipal-Transportation-Agency">San Francisco Municipal Transportation Agency</a>
                </li>
                <li class="">
                    <a title="San Francisco to Tamien Electrification construction work windows development" href="/Projects/Infrastructure/San-Francisco-to-Tamien-Electrification-construction-work-windows-development">San Francisco to Tamien Electrification construction work windows development</a>
                </li>
                <li class="">
                    <a title="Sandton Rea Vaya Bus Rapid Transit Bridge" href="/Projects/Infrastructure/Sandton-Rea-Vaya-Bus-Rapid-Transit-Bridge">Sandton Rea Vaya Bus Rapid Transit Bridge</a>
                </li>
                <li class="">
                    <a title="Seymour-Capilano Twin Tunnels" href="/Projects/Infrastructure/Seymour-Capilano-Twin-Tunnels">Seymour-Capilano Twin Tunnels</a>
                </li>
                <li class="">
                    <a title="Shaganappi Trail Pedestrian Overpass" href="/Projects/Infrastructure/Shaganappi-Trail-Pedestrian-Overpass">Shaganappi Trail Pedestrian Overpass</a>
                </li>
                <li class="">
                    <a title="Silicon Valley Rapid Transit Project BART" href="/Projects/Infrastructure/Silicon-Valley-Rapid-Transit-Project-BART">Silicon Valley Rapid Transit Project/BART</a>
                </li>
                <li class="">
                    <a title="Sound Transit Advisory" href="/Projects/Infrastructure/Sound-Transit-Advisory">Sound Transit Advisory</a>
                </li>
                <li class="">
                    <a title="South Terminal Future Operating Capacity and Reliability Analysis" href="/Projects/Infrastructure/South-Terminal-Future-Operating-Capacity-and-Reliability-Analysis">South Terminal Future Operating Capacity and Reliability Analysis</a>
                </li>
                <li class="">
                    <a title="Southeastern Pennsylvania Transportation Authority" href="/Projects/Infrastructure/Southeastern-Pennsylvania-Transportation-Authority">Southeastern Pennsylvania Transportation Authority</a>
                </li>
                <li class="">
                    <a title="Sun Link Tucson Streetcar" href="/Projects/Infrastructure/Sun-Link-Tucson-Streetcar">Sun Link Tucson Streetcar</a>
                </li>
                <li class="">
                    <a title="Take the A-Train In Texas" href="/Projects/Infrastructure/Take-the-A-Train-In-Texas">Take the A-Train... In Texas</a>
                </li>
                <li class="">
                    <a title="Thames Estuary Production Corridor Case for Investment" href="/Projects/Infrastructure/Thames-Estuary-Production-Corridor-Case-for-Investment">Thames Estuary Production Corridor: Case for Investment</a>
                </li>
                <li class="">
                    <a title="The Calgary Green Line LRT TOD services and economics" href="/Projects/Infrastructure/The-Calgary-Green-Line-LRT-TOD-services-and-economics">The Calgary Green Line LRT: TOD services and economics</a>
                </li>
                <li class="">
                    <a title="The socioeconomic impact of the Gautrain study" href="/Projects/Infrastructure/The-socioeconomic-impact-of-the-Gautrain-study">The socioeconomic impact of the Gautrain study</a>
                </li>
                <li class="">
                    <a title="Three Chain Road project" href="/Projects/Infrastructure/Three-Chain-Road-project">Three Chain Road project</a>
                </li>
                <li class="">
                    <a title="Toronto Pearson Terminal Redevelopment" href="/Projects/Infrastructure/Toronto-Pearson-Terminal-Redevelopment">Toronto Pearson Terminal Redevelopment</a>
                </li>
                <li class="">
                    <a title="Traction Power and Systems Capacity Analysis for Systemwide Cascade Plan" href="/Projects/Infrastructure/Traction-Power-and-Systems-Capacity-Analysis-for-Systemwide-Cascade-Plan">Traction Power and Systems Capacity Analysis for Systemwide Cascade Plan</a>
                </li>
                <li class="">
                    <a title="Transnet Capital Expansion Program" href="/Projects/Infrastructure/Transnet-Capital-Expansion-Program">Transnet Capital Expansion Program</a>
                </li>
                <li class="">
                    <a title="Transport for Londons and Crossrails Economic Impact" href="/Projects/Infrastructure/Transport-for-Londons-and-Crossrails-Economic-Impact">Transport for London&#39;s and Crossrail&#39;s Economic Impact</a>
                </li>
                <li class="">
                    <a title="TraPac Terminal Automation Support" href="/Projects/Infrastructure/TraPac-Terminal-Automation-Support">TraPac Terminal Automation Support</a>
                </li>
                <li class="">
                    <a title="Tugela River Pedestrian Bridge" href="/Projects/Infrastructure/Tugela-River-Pedestrian-Bridge">Tugela River Pedestrian Bridge</a>
                </li>
                <li class="">
                    <a title="Umgeni Interchange" href="/Projects/Infrastructure/Umgeni-Interchange">Umgeni Interchange</a>
                </li>
                <li class="">
                    <a title="uMshwathi Regional Bulk Water Supply Scheme Phase 2" href="/Projects/Infrastructure/uMshwathi-Regional-Bulk-Water-Supply-Scheme-Phase-2">uMshwathi Regional Bulk Water Supply Scheme Phase 2</a>
                </li>
                <li class="">
                    <a title="Vancouver Airport PCC Slab Replacement Program" href="/Projects/Infrastructure/Vancouver-Airport-PCC-Slab-Replacement-Program">Vancouver Airport PCC Slab Replacement Program</a>
                </li>
                <li class="">
                    <a title="Vancouver Airport South Airfield Runway End Safety Areas" href="/Projects/Infrastructure/Vancouver-Airport-South-Airfield-Runway-End-Safety-Areas">Vancouver Airport South Airfield Runway End Safety Areas</a>
                </li>
                <li class="">
                    <a title="Vancouver Airport W4 deicing pad project" href="/Projects/Infrastructure/Vancouver-Airport-W4-deicing-pad-project">Vancouver Airport W4 deicing pad project</a>
                </li>
                <li class="">
                    <a title="Vancouver International Airport Pier C Expansion" href="/Projects/Infrastructure/Vancouver-International-Airport-Pier-C-Expansion">Vancouver International Airport Pier C Expansion</a>
                </li>
                <li class="">
                    <a title="Vancouver International Airport South Airfield Low-Visibility Upgrade" href="/Projects/Infrastructure/Vancouver-International-Airport-South-Airfield-Low-Visibility-Upgrade">Vancouver International Airport South Airfield Low-Visibility Upgrade</a>
                </li>
                <li class="">
                    <a title="Warm Springs to Berryessa Extensions Systems Design Services" href="/Projects/Infrastructure/Warm-Springs-to-Berryessa-Extensions-Systems-Design-Services">Warm Springs to Berryessa Extensions Systems Design Services</a>
                </li>
                <li class="">
                    <a title="Water Outfall Project MBR System" href="/Projects/Infrastructure/Water-Outfall-Project-MBR-System">Water Outfall Project—MBR System</a>
                </li>
                <li class="">
                    <a title="West Area CSO Tunnels and Pump Stations" href="/Projects/Infrastructure/West-Area-CSO-Tunnels-and-Pump-Stations">West Area CSO Tunnels and Pump Stations</a>
                </li>
                <li class="">
                    <a title="Western Corridor Capacity Expansion" href="/Projects/Infrastructure/Western-Corridor-Capacity-Expansion">Western Corridor Capacity Expansion</a>
                </li>
                <li class="">
                    <a title="WMATA 7000-Series Vehicle Procurement" href="/Projects/Infrastructure/WMATA-7000-Series-Vehicle-Procurement">WMATA 7000-Series Vehicle Procurement</a>
                </li>
                <li class="">
                    <a title="WMATA Planned and Unplanned Track Outages" href="/Projects/Infrastructure/WMATA-Planned-and-Unplanned-Track-Outages">WMATA Planned and Unplanned Track Outages</a>
                </li>
                <li class="">
                    <a title="Work Trains for New York City Transit Authority" href="/Projects/Infrastructure/Work-Trains-for-New-York-City-Transit-Authority">Work Trains for New York City Transit Authority</a>
                </li>
                <li class="">
                    <a title="Xhora Off Channel Dam" href="/Projects/Infrastructure/Xhora-Off-Channel-Dam">Xhora Off-Channel Storage Dam</a>
                </li>
            </ul>

        </li>
    </ul>

</li>