<div id="minimal-bootstrap-carousel" data-ride="carousel" class="carousel slide carousel-fade shop-slider full_width ver_new_1_slider">
    <!-- Wrapper for slides-->
    <div role="listbox" class="carousel-inner">
        <div style="background-image: url({{ asset('images/slider/homepage/bg-cropped.jpg') }});" class="item active">
            <div class="carousel-caption">
                <div class="thm-container">
                    <div class="box valign-top pt-4">
                        <div class="content text-left pull-right">
                            <h1 data-animation="animated fadeInLeft" class="bnrfnt40">Vem aí o prêmio <br>Local de Inovação 2023</h1>
                            <p data-animation="animated fadeInRight" class="pln_he">
                                O prêmio Local de Inovação reconhece projetos inovadores executados <br>pela Hatch Brasil e se baseia nos pilares de 
                                segurança inegociável, <br>compromisso com a sustentabilidade e excelência na qualidade das <br>soluções que entregamos para nossos clientes.</p>
{#                            <p data-animation="animated fadeInRight" class="pln_he">Para obter mais informações <a href="info">clique aqui</a>.</p>#}
                            <br>
                            <p class="text-center">
                                <a href="{{ asset('REGULAMENTO_PLI.pdf') }}" target="_blank" style="color: white; text-decoration: underline;">
                                    Regras para particitar do Prêmio Local de Innovação
                                </a> [PDF]
                            </p>
                            <p data-animation="animated fadeInRight" class="pln_he">As inscrições se encerram em 31 de julho de 2023.</p>
                            <a href="{{ path('app_new_authors_project') }}" class="btn btn-primary btn-lg">Inscreva seu projeto!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>