.form-submit-border {
  text-align: center;
}
input[type='text'] input[type='textarea'] {
  width: 95%;
}
.section-content {
  float: none;
}
@media (min-width: 1200px) {
  .section-content {
    width: 50%;
  }
}
@media (max-width: 1199px) {
  .section-content {
    width: 50%;
  }
}
@media (max-width: 991px) {
  .section-content {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .section-content {
    width: 100%;
  }
}
.help-block {
  margin: 0 !important;
}
.loading-screen {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
  cursor: pointer;
  background: url('/assets/styles/spinner.gif') 50% 50% no-repeat rgba(0, 0, 0, 0.5);
}
.hatch-form-control:before {
  color: #d00 !important;
  content: "*" !important;
  font-weight: bolder !important ;
}
.hatch-Subscribe-privacy-statement {
  font-size: 11px !important;
  line-height: 14px !important;
}
@media (max-width: 1199px) {
  .hatch-Subscribe-privacy-statement {
    width: 350px;
  }
}
@media (max-width: 991px) {
  .hatch-Subscribe-privacy-statement {
    width: 350px;
  }
}
@media (max-width: 767px) {
  .hatch-Subscribe-privacy-statement {
    width: 100%;
  }
}
.hatch-scfForm {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  color: #363636;
  font-weight: 400;
}
.hatch-scfForm input[type='text'] input[type='textarea'] {
  width: 100%;
}
.hatch-scfForm input[type='radio'] {
  margin-right: 5px;
}
.hatch-scfForm input[type='submit'] {
  font-family: 'Source Sans Pro', sans-serif;
  border: 1px solid #e84b37;
  border-collapse: collapse;
  background: #FFF;
  color: #e84b37;
  cursor: pointer;
  font-size: 18px;
  padding: 6px 15px;
}
.hatch-scfForm input[type="submit"]:hover {
  border: 1px solid #e84b37;
  border-collapse: collapse;
  background: #e84b37;
  color: #FFF;
}
.hatch-scfForm .required-field .form-control:after {
  color: #d00 !important;
  content: "*" !important;
  font-weight: bolder !important ;
}
.hatch-scfForm .contactus-field-title {
  font-weight: normal;
  margin-bottom: 0;
  width: 100%;
}
.hatch-scfForm .contactus-form-control {
  color: #d00;
  content: "*";
  font-weight: bolder ;
}
.hatch-scfForm .contactus-field-content {
  padding-bottom: 15px !important;
  width: 85%;
}
.hatch-scfForm .subscribe-field-label {
  font-weight: normal;
  width: 100%;
}
.hatch-scfForm .subscribe-field-panel {
  padding-bottom: 15px !important;
  width: 95%;
}
.hatch-scfForm .subscribe-privacy-statement {
  font-size: 11px;
  line-height: 14px;
  width: 350px;
}
@media (max-width: 1199px) {
  .hatch-scfForm .subscribe-privacy-statement {
    width: 350px;
  }
}
@media (max-width: 991px) {
  .hatch-scfForm .subscribe-privacy-statement {
    width: 350px;
  }
}
@media (max-width: 767px) {
  .hatch-scfForm .subscribe-privacy-statement {
    width: 100%;
  }
}
.hatch-scfForm .subscribe-submit-button {
  clear: both;
}