{% extends "base.html.twig" %}

{% block body %}

    {% include "about/_header.html.twig" %}

    <section class="breadcumb-wrapper">
      <div class="container clearfix">
          <div class="row">
              <ul class="breadcumb col-md-10">
                  <li><a href="{{ path('app_homepage') }}">Home</a></li>
                  <li><span>{{ breadcrumb }}</span></li>
              </ul>
          </div>
      </div>
    </section>

    <section class="section-main section-twocolumn-right">
        <div class="container">
            <div class="row">
                {{ include('challenge-set/_form.container.html.twig') }}

{#                {{ include('about/_sidebar-nav.html.twig') }}#}
            </div>
        </div>
    </section>

    {% include "modules/_footer.html.twig" %}

{% endblock %}