<div id="minimal-bootstrap-carousel" data-ride="carousel" class="carousel slide carousel-fade shop-slider full_width ver_new_1_slider">
      <!-- Wrapper for slides-->
      <div role="listbox" class="carousel-inner">
        <div style="background-image: url(images/slider/homepage/5.jpg);" class="item active">
          <div class="carousel-caption">
            <div class="thm-container">
              <div class="box valign-top">
                <div class="content text-left pull-right">
                  <h1 data-animation="animated fadeInLeft" class="bnrfnt40">Vem aí o prémio <br>Local à Inovação 2023</h1>
                  <p data-animation="animated fadeInRight" class="pln_he">O prémio Local à Inovação reconhece projetos inovadores <br>executados pela Hatch Brasil e se baseia nos pilares de <br>segurança inegociável e de compromisso com a <br>sustentabilidade, que devem ser auditáveis e replicáveis.</p>
                  <p data-animation="animated fadeInRight" class="pln_he">Para obter mais informações <a href="info">clique aqui</a>.</p>
                  <p data-animation="animated fadeInRight" class="pln_he">As inscrições se encerram em 31 de outubro de 2023.</p>
                  <a data-animation="animated fadeInUp" href="{{ path('app_new_project') }}" class="view-all hvr-bounce-to-right slide_learn_btn btn btn0">Inscreva seu projeto!</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Controls-->
      {# <a href="#minimal-bootstrap-carousel" role="button" data-slide="prev" class="left carousel-control"><i class="fa fa-angle-left"></i><span class="sr-only">Previous</span></a><a href="#minimal-bootstrap-carousel" role="button" data-slide="next" class="right carousel-control"><i class="fa fa-angle-right"></i><span class="sr-only">Next</span></a> #}
    </div>