<div class="container clearfix sectpad-sec">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-lg-8">
            <div class="section-faq">
                <div class="section_header2 common">
                    <h2>FAQ</h2>
                </div>
            </div>

            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Como inscrever o meu projeto na premiação?
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p>
                                Existem varias formas, você pode <a href="{{ path('app_new_authors_project') }}">clicar aqui</a>
                                e seguir os pasos indicados. Primero você deve introduzir os <strong>dados do criador ou criadores do projeto</strong>,
                                eles são muito importantes para que possamos <strong>manter o contato ou solicitar maiores informações</strong>.
                            </p>
                            <p>
                                Depois você deve introduzir os <strong>dados do projeto</strong>, é muito importante que você
                                preencha todos os campos solicitados, pois isso vai ajudar muito na hora de avaliar o seu projeto.
                                Você deve prestar muita atenção na descrição do projeto, pois é ela que vai ajudar os avaliadores
                                a entenderem o que você fez e como você fez.
                            </p>
                            <p>
                                Para uma correta formatação dentro do nosso portal, por favor informe a descrição conforme solicitado.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Como posso lançar um desafio?
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p>
                                Lançar um desafio é muito simples, você pode <a href="{{ path('app_challenge_launched') }}">clicar aqui</a>
                                e seguir os pasos solicitados. É muito importante que você preencha todos os campos solicitados
                                para que o seu desafio seja publicado com sucesso.
                            </p>
                            <p>
                                Primeiro preste muita ateção ao titulo do desafio, ele deve ser curto e objetivo, pois é o que
                                vai chamar a atenção dos desafiados. Depois você deve preencher a descrição do desafio, nela você
                                deve explicar o que você espera que os desafiados façam, quais são os objetivos do desafio, quais
                                são as regras, etc.
                            </p>
                            <p>
                                É muito importante que você faça um desenho ou um esboço do que você espera que os desafiados
                                façam, pois isso vai ajudar muito na hora deles entenderem o que você espera deles. Por ejemplo,
                                veja a <a target="_blank" href="https://www.mininghub.com.br/storage/app/media/uploaded-files/M_Start%20pt.jpg">
                                imagem utilizada por o Mining Hub </a>um de nossos parceiros.
                            </p>
                        </div>
                    </div>
                </div>
{#                <div class="accordion-item">#}
{#                    <h2 class="accordion-header" id="headingThree">#}
{#                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">#}
{#                            Accordion Item #3#}
{#                        </button>#}
{#                    </h2>#}
{#                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">#}
{#                        <div class="accordion-body">#}
{#                            <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
            </div>
        </div>
    </div>
</div>