<footer class="sec-padding footer-bg footer-bg3">
    <div class="container clearfix">
    <div class="row">
        <div class="widget about-us-widget col-md-3 col-sm-6"><a href="#"><img src="{{ asset('media/images/Hatch-Corporate-Logo.png') }}" alt=""></a>
        <p>Lorem ipsum dolor sit amet, consectet ur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna ali qua. Ut enim ad minim.</p><a href="about.html">Read More <i class="fa fa-angle-double-right"></i></a>
        <ul class="nav">
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
            <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
            <li><a href="#"><i class="fa fa-skype"></i></a></li>
            <li><a href="#"><i class="fa fa-pinterest-square"></i></a></li>
        </ul>
        </div>
        <div class="widget widget-links col-md-3 col-sm-6">
        <h4 class="widget_title">Our Solutions</h4>
        <div class="widget-contact-list row m0">
            <ul>
            <li><a href="meterial.html">- Metal Industry</a></li>
            <li><a href="agricultural.html">- Agricultural Engineering</a></li>
            <li><a href="mechanical.html">- Alternative Energy</a></li>
            <li><a href="chemical.html">- chemical research</a></li>
            <li><a href="power.html">- power and energy</a></li>
            <li><a href="oil.html">- Oil and lubricant</a></li>
            </ul>
        </div>
        </div>
        <div class="widget widget-links col-md-3 col-sm-6">
        <h4 class="widget_title">Quick Links</h4>
        <div class="widget-contact-list row m0">
            <ul>
            <li><a href="about.html">- About Us</a></li>
            <li><a href="#">- Career</a></li>
            <li><a href="#">- Get Quote</a></li>
            <li><a href="news.html">- News</a></li>
            <li><a href="faq.html">- Faq</a></li>
            </ul>
        </div>
        </div>
        <div class="widget widget-contact col-md-3 col-sm-6">
        <h4 class="widget_title">Get in Touch</h4>
        <div class="widget-contact-list row m0">
            <ul>
            <li><i class="fa fa-map-marker"></i>
                <div class="fleft location_address">Lorance 542B, Tailstoi Town 5248 MT, Wordwide Country</div>
            </li>
            <li><i class="fa fa-phone"></i>
                <div class="fleft contact_no"><a href="#">01865 524 8503</a></div>
            </li>
            <li><i class="fa fa-envelope-o"></i>
                <div class="fleft contact_mail"><a href="mailto:info@woodworkshop.com">info@woodworkshop.com</a></div>
            </li>
            <li><i class="icon icon-Timer"></i>
                <div class="fleft service_time">Mon - Sat : 9am to 6pm</div>
            </li>
            </ul>
        </div>
        </div>
    </div>
    </div>
</footer>