<footer class="sec-padding footer-bg footer-bg3">
    <div class="container clearfix">
        <div class="row">
        <div class="widget about-us-widget col-md-4 col-sm-6"><a href="#"><img src="{{ asset('media/images/Hatch-Corporate-Logo.png') }}" alt=""></a>
            <p>Our organization is passionately committed to the pursuit of a better world through positive change. We embrace your visions as our own and partner with you to develop better ideas that are smarter, more efficient, and innovative.</p>
            <a href="{{ path('app_about_us') }}">Saiba mais <i class="fa fa-angle-double-right"></i></a>
        </div>

        <div class="widget widget-links col-md-4 col-sm-6">
        <h4 class="widget_title">Links</h4>
        <div class="widget-contact-list row m0">
            <ul>
            <li><a href="{{ path('app_about_us') }}">- Sobre nós</a></li>
            <li><a href="{{ path('app_ethic') }}">- Ética</a></li>
            <li><a href="#">- Get Quote</a></li>
            <li><a href="news.html">- News</a></li>
            <li><a href="faq.html">- Quero postar um artigo</a></li>
            </ul>
        </div>
        </div>

        <div class="widget about-us-widget col-md-4 col-sm-6">
            <h4 class="widget_title">Siga a gente nas redes</h4>
            <ul class="nav">
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                <li><a href="#"><i class="fa fa-skype"></i></a></li>
                <li><a href="#"><i class="fa fa-pinterest-square"></i></a></li>
            </ul>
        </div>
    </div>
    </div>
</footer>