<!-- Postcasts-->
<div id="minimal-bootstrap-carousel" data-ride="carousel" class="">
    <!-- Wrapper for slides-->
    <div role="listbox" class="carousel-inner">
        <div style="background-image: url({{ asset('media/banner/HatchWebinar_Banner.jpg') }});" class="item active">
            <div class="carousel-caption">
                <div class="thm-container">
                    <div class="box valign-top">
                        {# <div class="widget-t widget-t-search" style="float: none; margin-top: 30px; margin-left: 30%; width: 100%">
                            <div class="widget-t-inner">
                                <form action="#" method="get" class="search-form">
                                    <div class="input-group text-white">
                                        <input
                                                type="search" placeholder="Seu email aqui ..."
                                                class="form-control text-white"
                                                style="background-color:transparent !important; border:none !important; width: 245px">
                                        <span class="input-group-addon">
                                            <a href="#" class="" type="submit" style="margin: 10px; background-color:transparent !important">subscrever</a>
                                        </span>
                                    </div>
                                </form>
                            </div>
                        </div> #}
                        <div class="content projects text-left pull-left">
                            <h1
                                    data-animation="animated fadeInLeft"
                                    class="bnrfnt40"
                                    style="margin-top: 100px; margin-left: 200px; padding-left: 30px">
                                Nosso Podcast
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="section-main brand-white">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="sidebarBlock richText ">
                    <h1 class="mt-3">HATCHCAST -  Podcasts na Hatch sobre inovação</h1>
                    <p>Os podcasts da Hatch reúnem líderes em todas as facetas das indústrias de metais, energia e infraestrutura. Junte-se aos nossos especialistas em discussões sobre tecnologias inovadoras e questões importantes enfrentadas por essas indústrias hoje, e compartilhe suas ideias sobre nossa busca de um mundo melhor através de mudanças positivas.</p>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a target="_blank" href="https://hatchengineering.sharepoint.com/sites/HatchcastInnovation/_layouts/15/stream.aspx?id=%2Fsites%2FHatchcastInnovation%2FShared%20Documents%2FGeneral%2FHatchcast%20Innovation%20-%20EP1%2FHatchcast%20Innovation%20-%20Episode%201%20-%20Kezer%20Almeida%20.mp4">
                                HATCHCAST - EPISÓDIO 1 - KEZER ALMEIDA - <small>20/04/2023</small>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a target="_blank" href="https://hatchengineering.sharepoint.com/sites/HatchcastInnovation/_layouts/15/stream.aspx?id=%2Fsites%2FHatchcastInnovation%2FShared%20Documents%2FGeneral%2FHatchcast%20Innovation%20-%20EP2%2FHATCHCAST%20-%20EPIS%C3%93DIO%202%20-%20MARCO%20E%20MARCYUS.mp4&referrer=Teams.TEAMS-ELECTRON&referrerScenario=p2p_ns-bim">
                                HATCHCAST - EPISÓDIO 2 - MARCO E MARCYUS - <small>05/05/2023</small>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
