<!-- Postcasts-->
<div id="minimal-bootstrap-carousel" data-ride="carousel" class="">
    <!-- Wrapper for slides-->
    <div role="listbox" class="carousel-inner">
        <div style="background-image: url({{ asset('media/banner/HatchWebinar_Banner.jpg') }});" class="item active">
            <div class="carousel-caption">
                <div class="thm-container">
                    <div class="box valign-top">
                        <div class="widget-t widget-t-search" style="float: none; margin-top: 30px; margin-left: 30%; width: 100%">
                            <div class="widget-t-inner">
                                <form action="#" method="get" class="search-form">
                                    <div class="input-group text-white">
                                        <input
                                                type="search" placeholder="Seu email aqui ..."
                                                class="form-control text-white"
                                                style="background-color:transparent !important; border:none !important; width: 245px">
                                        <span class="input-group-addon">
                                            <a href="#" class="" type="submit" style="margin: 10px; background-color:transparent !important">subscrever</a>
                                        </span>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="content projects text-left pull-left">
                            <h1
                                    data-animation="animated fadeInLeft"
                                    class="bnrfnt40"
                                    style="margin-top: 100px; margin-left: 200px; padding-left: 30px">
                                Nosso Podcast
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="section-main brand-white">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="sidebarBlock richText ">
                    <h1>Podcasts na Hatch sobre inovação</h1>
                    <p>Os podcasts Hatch reúnem líderes em todas as facetas das indústrias de metais, energia e infraestrutura em todo o mundo. Junte-se aos nossos especialistas em discussões sobre tecnologias inovadoras e questões importantes enfrentadas por essas indústrias hoje, e assista-os compartilhando suas idéias sobre nossa busca de um mundo melhor através de mudanças positivas.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container clearfix sectpad-sec">
    <div class="section_header2 common">
        <h2>Últimos Posts do nosso Blog</h2>
    </div>
</div>
