<div role="main" class="col-md-12 col-sm-8">
    <div>
        <h1 class="pageTitle"> Publicação de uma notícia</h1>
        <h3>Complete os dados solicitados da notícia</h3>
    </div>
    <div class="component sitecore-form" id="">
        <div class="component-content" data-controller="project">
            {{ include('new-news/_form.html.twig') }}
        </div>
    </div>
</div>
