<section class="breadcumb-wrapper">
    <div class="container clearfix">
        <ul class="breadcumb">
            <li><a href="{{ path('app_homepage') }}">Home</a></li>
            <li><span>{{ breadcrumb }}</span></li>
        </ul>
    </div>
</section>