<section class="section-main brand-blue-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div>
                    <h2>What our clients say</h2>
                </div>

                <div class="row ">
                    <div class="col-md-4">
                        <blockquote class="quote-hatch">
                            <p>
                                “Over the life of the project, Hatch and Hatch Indisa personnel were not only very responsive but also helpful and reasonable in their approach to the many changes that occurred. I personally attribute this to the multicultural team, and to the leadership that was associated to the project. Cooperation and seeking the best outcome has always been the goal and was, in fact, the rule for this project.”
                            </p>
                            <footer>
                                <strong>Michael X. Schlumpberger<span> | </span></strong>
                                Executive General Manager Operations,
                                Highfield Resources Limited
                            </footer>

                        </blockquote>

                    </div>
                    <div class="col-md-4">
                        <blockquote class="quote-hatch">
                            <p>
                                “Hatch was able to successfully adapt to whatever was required of the team and was able to deliver a very successful project amid some challenging conditions.”
                            </p>
                            <footer>
                                <strong>Mr. Iggy Tan<span> | </span></strong>
                                Chief Executive Officer,
                                Galaxy Resources (Jiangsu) Co. Ltd.
                            </footer>

                        </blockquote>

                    </div>
                    <div class="col-md-4">
                        <blockquote class="quote-hatch">
                            <p>
                                “Special recognition goes to all involved for making this transition virtually seamless...I know there were many long hours and critical moments. Your perseverance has paid off.”
                            </p>
                            <footer>
                                <strong>Doug Morgan<span> | </span></strong>
                                Director,
                                Calgary Transit (2018)
                            </footer>

                        </blockquote>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>