<section class="section-main brand-white">
    <div class="container">
        <div class="row">
            <div class="col-md-6">


                <div class="rollup rollup-blog">

                    <h2>Viewpoints</h2>

                    <article>
                        <figure>

                            <img src="media/people/Xiaoyou-Zhang-Hatch.jpg?h=160&amp;iar=0&amp;w=160&amp;hash=C115A58D8AA6CD490603D137C6331EEE" alt="Xiaoyou-Zhang-Hatch" width="160" height="160" />
                        </figure>
                        <div class="article-content">
                            <h3>
                                <a id="05ACB231754C4CC2B2DB810B9B9CB5C6" name="Blog_rollup_05ACB231754C4CC2B2DB810B9B9CB5C6" href="/About-Us/Publications/Blogs/2023/01/Planning-for-the-Growth-of-Electric-Vehicles-in-North-America" target="" tooltip="Planning for the Growth of Electric Vehicles in North America">
                                    Planning for the Growth of Electric Vehicles in North America
                                </a>
                            </h3>
                            <div class="author">
                                Xiaoyou Zhang
                            </div>
                            <div class="exerpt exerpt-blog">
                                Everyone agrees that the electric vehicle (EV) industry will grow dramatically in North America over the next decade. To prepare for such growth, utility and city planners need to be able to predict how many EVs will be in use, and how many chargers will be needed.
                            </div>
                        </div>
                    </article>
                    <article>
                        <figure>

                            <img src="media/people/Joelle-Pang_Grecia-Pachecho_Julie-Bourgault.png?h=160&amp;iar=0&amp;w=160&amp;hash=5E0108C3C81D935897CE160A04DA5B2C" alt="Joelle-Pang_Grecia-Pachecho_Julie-Bourgault" width="160" height="160" />
                        </figure>
                        <div class="article-content">
                            <h3>
                                <a id="3A99A03755FE4DC7A29AD07774B78DDA" name="Blog_rollup_3A99A03755FE4DC7A29AD07774B78DDA" href="/About-Us/Publications/Blogs/2022/12/Managing-supply-chains-in-the-face-of-climate-change-risk-part-2" target="" tooltip="Managing supply chains in the face of climate change risk part 2">
                                    Managing supply chains in the face of climate change risk: part 2
                                </a>
                            </h3>
                            <div class="author">
                                Joelle Pang, Grecia Pacheco and Julie Bourgault
                            </div>
                            <div class="exerpt exerpt-blog">
                                As several regions consider carbon border taxes and adjustments, organizations must mitigate the cost and the impact of imports from carbon intensive production countries.
                            </div>
                        </div>
                    </article>
                    <article>
                        <figure>

                            <img src="media/people/Joelle-Pang_Grecia-Pachecho_Julie-Bourgault.png?h=160&amp;iar=0&amp;w=160&amp;hash=5E0108C3C81D935897CE160A04DA5B2C" alt="Joelle-Pang_Grecia-Pachecho_Julie-Bourgault" width="160" height="160" />
                        </figure>
                        <div class="article-content">
                            <h3>
                                <a id="41F5745709734A6EBEAB75428F12864A" name="Blog_rollup_41F5745709734A6EBEAB75428F12864A" href="/About-Us/Publications/Blogs/2022/11/Managing-supply-chains-in-the-face-of-climate-change-risk-part-1" target="" tooltip="Managing supply chains in the face of climate change risk part 1">
                                    Managing supply chains in the face of climate change risk: part 1
                                </a>
                            </h3>
                            <div class="author">
                                Joelle Pang, Grecia Pacheco and Julie Bourgault
                            </div>
                            <div class="exerpt exerpt-blog">
                                Based on current trajectory, GHG emissions will continue to result in severe climate change risk, and with this in mind, organizations need to know how to prepare and keep their supply chains intact.
                            </div>
                        </div>
                    </article>

                    <a class="call2action brand-blue-dark" href="/About-Us/Publications/Blogs">All Blogs</a>
                </div>

            </div>
            <div class="col-md-6">

                <div class="rollup rollup-news">
                    <h2>News</h2>

                    <article>
                        <h3>
                            <a id="2B0E842D682E4955B8E1C741DA657332" name="News_rollup_2B0E842D682E4955B8E1C741DA657332" href="/About-Us/News-And-Media/2022/12/Kingston-Third-Crossing-bridge-officially-opens-to-the-public" target="" tooltip="Kingston Third Crossing bridge officially opens to the public">
                                Kingston Third Crossing bridge officially opens to the public
                            </a>
                        </h3>
                        <div class="exerpt exerpt-news">
                            Monday, December 19, 2022

                        </div>
                    </article>
                    <article>
                        <h3>
                            <a id="36DA5C6F61124A41B3D68BFB2A8DAB24" name="News_rollup_36DA5C6F61124A41B3D68BFB2A8DAB24" href="/About-Us/News-And-Media/2022/12/Hatch-is-one-of-Greater-Torontos-Top-Employers-for-eighth-consecutive-year" target="" tooltip="Hatch is one of Greater Torontos Top Employers for eighth consecutive year">
                                Hatch is one of Greater Toronto&#39;s Top Employers for eighth consecutive year
                            </a>
                        </h3>
                        <div class="exerpt exerpt-news">
                            Friday, December 9, 2022

                        </div>
                    </article>
                    <article>
                        <h3>
                            <a id="2C49DC804CBB4653940F276F5F57562A" name="News_rollup_2C49DC804CBB4653940F276F5F57562A" href="/About-Us/News-And-Media/2022/12/Celebrating-our-inclusive-workplace-on-International-Day-for-Persons-with-Disabilities" target="" tooltip="Celebrating our inclusive workplace on International Day for Persons with Disabilities">
                                Leading by example: Celebrating our inclusive workplace on International Day for Persons with Disabilities
                            </a>
                        </h3>
                        <div class="exerpt exerpt-news">
                            Saturday, December 3, 2022

                        </div>
                    </article>





                    <a class="call2action brand-blue-dark" href="/About-Us/News-And-Media">
                        All News
                    </a>

                </div>

                <div class="rollup rollup-events">

                    <h2>Events</h2>

                    <article>
                        <h3>
                            <a id="48FEC5E58AD54CDC97647EB1C4821D94" name="Event_rollup_48FEC5E58AD54CDC97647EB1C4821D94" href="/About-Us/Events-And-Conferences/2023/01/55th-Annual-Canadian-Mineral-Processors-Conference" target="" tooltip="55th Annual Canadian Mineral Processors Conference">
                                55th Annual Canadian Mineral Processors Conference
                            </a>
                        </h3>

                        <div class="date date-event">
                            January 17 to 19, 2023

                        </div>

                        <div class="exerpt exerpt-event">


                            Ottawa, Canada


                        </div>


                    </article>

                    <a class="call2action brand-blue-dark" href="/About-Us/Events-And-Conferences">All Events</a>
                </div>

            </div>
        </div>
    </div>
</section>