<section class="section-main brand-gray-lightest">
    <div class="container">
        <div class="row">
            <div class="col-md-6">


                {{ include('sections/_rollup-blog.html.twig') }}

            </div>
            <div class="col-md-6">

                {{ include('sections/_news.html.twig') }}
                {{ include('sections/_events.html.twig') }}

            </div>
        </div>
    </div>
</section>