<section class="section-main brand-gray-lightest">
    <div class="container">
        <div class="row">
            <div class="col-md-6">


                <div class="rollup rollup-blog">

                    <h2>Pontos de Vista</h2>

                    <article>
                        <figure>

                            <img src="media/people/Xiaoyou-Zhang-Hatch.jpg?h=160&amp;iar=0&amp;w=160&amp;hash=C115A58D8AA6CD490603D137C6331EEE" alt="Xiaoyou-Zhang-Hatch" width="160" height="160" />
                        </figure>
                        <div class="article-content">
                            <h3>
                                <a id="05ACB231754C4CC2B2DB810B9B9CB5C6" name="Blog_rollup_05ACB231754C4CC2B2DB810B9B9CB5C6" href="/About-Us/Publications/Blogs/2023/01/Planning-for-the-Growth-of-Electric-Vehicles-in-North-America" target="" tooltip="Planning for the Growth of Electric Vehicles in North America">
                                    Planning for the Growth of Electric Vehicles in North America
                                </a>
                            </h3>
                            <div class="author">
                                Xiaoyou Zhang
                            </div>
                            <div class="exerpt exerpt-blog">
                                Everyone agrees that the electric vehicle (EV) industry will grow dramatically in North America over the next decade. To prepare for such growth, utility and city planners need to be able to predict how many EVs will be in use, and how many chargers will be needed.
                            </div>
                        </div>
                    </article>
                    <article>
                        <figure>

                            <img src="media/people/Joelle-Pang_Grecia-Pachecho_Julie-Bourgault.png?h=160&amp;iar=0&amp;w=160&amp;hash=5E0108C3C81D935897CE160A04DA5B2C" alt="Joelle-Pang_Grecia-Pachecho_Julie-Bourgault" width="160" height="160" />
                        </figure>
                        <div class="article-content">
                            <h3>
                                <a id="3A99A03755FE4DC7A29AD07774B78DDA" name="Blog_rollup_3A99A03755FE4DC7A29AD07774B78DDA" href="/About-Us/Publications/Blogs/2022/12/Managing-supply-chains-in-the-face-of-climate-change-risk-part-2" target="" tooltip="Managing supply chains in the face of climate change risk part 2">
                                    Managing supply chains in the face of climate change risk: part 2
                                </a>
                            </h3>
                            <div class="author">
                                Joelle Pang, Grecia Pacheco and Julie Bourgault
                            </div>
                            <div class="exerpt exerpt-blog">
                                As several regions consider carbon border taxes and adjustments, organizations must mitigate the cost and the impact of imports from carbon intensive production countries.
                            </div>
                        </div>
                    </article>
                    <article>
                        <figure>

                            <img src="media/people/Joelle-Pang_Grecia-Pachecho_Julie-Bourgault.png?h=160&amp;iar=0&amp;w=160&amp;hash=5E0108C3C81D935897CE160A04DA5B2C" alt="Joelle-Pang_Grecia-Pachecho_Julie-Bourgault" width="160" height="160" />
                        </figure>
                        <div class="article-content">
                            <h3>
                                <a id="41F5745709734A6EBEAB75428F12864A" name="Blog_rollup_41F5745709734A6EBEAB75428F12864A" href="/About-Us/Publications/Blogs/2022/11/Managing-supply-chains-in-the-face-of-climate-change-risk-part-1" target="" tooltip="Managing supply chains in the face of climate change risk part 1">
                                    Managing supply chains in the face of climate change risk: part 1
                                </a>
                            </h3>
                            <div class="author">
                                Joelle Pang, Grecia Pacheco and Julie Bourgault
                            </div>
                            <div class="exerpt exerpt-blog">
                                Based on current trajectory, GHG emissions will continue to result in severe climate change risk, and with this in mind, organizations need to know how to prepare and keep their supply chains intact.
                            </div>
                        </div>
                    </article>

                    <a class="call2action brand-blue-dark" href="/About-Us/Publications/Blogs">Todos os Blogs</a>
                </div>

            </div>
            <div class="col-md-6">

                {{ include('sections/_news.html.twig') }}
                {{ include('sections/_events.html.twig') }}

            </div>
        </div>
    </div>
</section>