<section class="section-main brand-primary">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mixedContent ">


                    <h3>Need a solution?</h3>

                    <div class="deets">
                        <p>Let's connect.</p>

                        <p class="linkMore">
                            <a href="mailto:webmaster@hatch.com">Get in touch</a>
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>