<section class="section-main brand-primary">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mixedContent ">


                    <h3>Precisa de uma solução?</h3>

                    <div class="deets">
                        <p>Vamos conversar.</p>

                        <p class="linkMore">
                            <a href="mailto:webmaster@hatch.com">Entrar em contato</a>
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>