<article>
    <h3>
        <a id="2B0E842D682E4955B8E1C741DA657332"
           name="News_rollup_2B0E842D682E4955B8E1C741DA657332"
           href="{{ item.url }}"
           target=""
           tooltip="{{ item.title }}">
            {{ item.title }}
        </a>
    </h3>
    <div class="exerpt exerpt-news">
        {{ item.date }}

    </div>
</article>
