<div class="col-md-4">
    <blockquote class="quote-hatch">
        <p>
            “{{ testimony.text }}”
        </p>
        <footer>
            <strong>{{ testimony.assinated }}<span> | </span></strong>
            {{ testimony.position }},
            {{ testimony.company }}
        </footer>
    </blockquote>
</div>