<footer class="footer">
    <div class="footer-main">
        <div class="container">
            <div class="row">
                <div class="col-md-3 hidden-xs hidden-sm">
                    <a class="footer-logo" href="/en">
                        <img src="media/images/Hatch-Corporate-Logo.png" alt="Hatch logo" width="187" height="30">
                    </a>

                </div>
                <div class="col-md-3">
                    <div class="footer-heading ">About Us</div>
                    <div class="sidebarBlock richText">
                        <ul>
                            <li><a href="/About-Us/About-the-Company">About the Company</a></li>
                            <li><a href="/About-Us/Ethics-And-Sustainability">Ethics</a></li>
                            <li><a href="/-/media/Hatch-Corporate/PDF/2022/Modern_Slavery_Act_Statement.pdf">Modern Slavery Act Statement</a></li>
                            <li><a href="/About-Us/News-And-Media">News &amp; Media</a></li>
                            <li><a href="/About-Us/Events-And-Conferences">Events &amp; Conferences</a></li>
                            <li><a href="/About-Us/Publications">Publications</a></li>
                            <li><a href="/About-Us/Information-for-Suppliers">Information for Suppliers to Hatch</a></li>
                        </ul>
                    </div>

                </div>
                <div class="col-md-3 col-xs-6">
                    <div class="footer-heading ">Have a Question?</div>
                    <a class="call2action btn " href="/About-Us/Contact-Us">
                        Contact Us
                    </a>
                    <div class="footer-heading ">Office Locations</div>
                    <a class="call2action btn " href="/About-Us/Office-Locations">
                        Find an Office
                    </a>

                </div>
                <div class="col-md-3 col-xs-6">
                    <div class="footer-heading ">Follow Us</div>
                    <div class="sidebarBlock richText links-social">
                        <ul>
                            <li><a href="https://www.youtube.com/user/HatchLtdVideos"><img alt="YouTube" src="media/social/458B56DA591942AC92BDA4BAE374CF26.ashx" /></a></li>
                            <li><a href="https://twitter.com/HatchGlobal "><img alt="Twitter" src="media/social/DABA57276BCF48598769B8070CBB342F.ashx" /></a></li>
                            <li><a href="https://www.linkedin.com/company/hatch"><img alt="LinkedIn" src="media/social/839A9EE9562D4D45A037106792BC0DB0.ashx" /></a></li>
                            <li><a href="/sitecore/content/RSS-Feeds/News-and-Media-RSS-Feed"><img alt="RSS" src="media/social/FFD1A0D14D24465DBBC00AFABF9AA1A4.ashx" /></a></li>
                        </ul>
                    </div>
                    <div class="footer-heading ">Subscribe to our Newsletter</div>
                    <a class="call2action btn " href="/About-Us/Subscribe">
                        Subscribe
                    </a>

                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-xs-4">
                    <div class="footer-bottom-left">
                        <div class="sidebarBlock richText ">
                            &copy; Hatch Ltd.

                        </div>

                    </div>
                </div>
                <div class="col-xs-8">
                    <div class="footer-bottom-right">
                        <div class="sidebarBlock richText ">
                            <a href="/About-Us/Privacy-Statement">Privacy Statement</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>