{% extends "base.html.twig" %}

{% block body %}

    {% include "modules/_navigation.html.twig" %}

    <section class="breadcumb-wrapper">
        <div class="container clearfix">
            <ul class="breadcumb">
                <li><a href="{{ path('app_homepage') }}">Home</a></li>
                <li><span>{{ breadcrumb }}</span></li>
            </ul>
        </div>
    </section>

    <section class="section-main section-twocolumn-right">
        <div class="container">
            <div class="row">
                {{ include('new-solution/_form.container.html.twig') }}
            </div>
        </div>
    </section>

    {% include "modules/_solution.html.twig" %}

    {% include "modules/_footer.html.twig" %}

{% endblock %}