{% extends 'base.html.twig' %}

{% block title %}Hatch - Podcasts{% endblock %}

{% block body %}
    <div class="wrapper">
        {{ include('_navbar.html.twig') }}

        <div id="maincontent" class="">
            <section class="">
                <figure class="banner-hero ">
                    <img src="{{ asset('media/banner/HatchWebinar_Banner.jpg') }}?h=1458&amp;iar=0&amp;w=4750&amp;" alt="Hatch Podcasts" width="4750" height="1458">
                    <figcaption>
                        <div class="caption-content" style="margin: 200px">
                            <h1>Podcasts</h1>
                        </div>
                    </figcaption>
                </figure>

            </section>
            <section class="section-main ">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="bodyContent">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <section class="section-main brand-white">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="sidebarBlock richText ">
                            <h1>Podcasts na Hatch sobre inovação</h1>
                            <p>Os podcasts Hatch reúnem líderes em todas as facetas das indústrias de metais, energia e infraestrutura em todo o mundo. Junte-se aos nossos especialistas em discussões sobre tecnologias inovadoras e questões importantes enfrentadas por essas indústrias hoje, e assista-os compartilhando suas idéias sobre nossa busca de um mundo melhor através de mudanças positivas.</p>
                            <br>
                            <hr>
                            <br>
                        </div>
                        <div class="sidebarBlock richText ">
                            <h2 style="padding-bottom: 20px;">Vem aí os nossos podcasts</h2>
                        </div>
                        <div class="sidebarBlock richText ">
{#                            active webinar#}
{#                            <style reoriginalpositionmarker='RadEditorStyleKeeper5'>#}
{#                                a.button1{    display:inline-block; padding:0.35em 2.5em;  border:0.1em solid #E84A37;    margin:0 0.3em 0.3em 0;    border-radius: 3px;    box-sizing: border-box;    text-decoration:none;    font-family:'Roboto',sans-serif;    font-weight:300;    color:#425563;    text-align:center;    transition: all 0.2s;    }    a.button1:hover{    color:#ffffff;    background-color:#E84A37;    }    @media all and (max-width:30em){    a.button1{    display:block;    margin:0.4em auto;}    }#}
{#                            </style>#}
{#                            <h3><a href="/About-Us/Events-And-Conferences/2022/06/GPS-X-webinar">Modelling High-Purity Oxygen (HPO) Systems with GPS-X</a></h3>#}
{#                            <p><strong>June 16, 2022</strong> |&nbsp;&nbsp;<strong>2:00 PM - 3:00 PM EDT</strong></p>#}
{#                            <p style="color: #363636; background-color: #ffffff; margin-right: 0px; margin-bottom: 11px; margin-left: 0px;">Join us for a&nbsp;<strong>free</strong>&nbsp;60-minute webinar where Hatch modelling experts will demonstrate the High-Purity Oxygen (HPO) models in GPS-X.</p>#}
{#                            <p style="color: #363636; background-color: #ffffff; margin: 0px 0px 11px;">Learn how the model can be used to simulate HPO performance, including enhanced oxygen transfer, headspace gas composition, as well as impacts on pH from dissolved CO<span style="line-height: 0;">2</span>&nbsp;concentrations.</p>#}
{#                            <div style="text-align: left;  margin-top: 20px;"><a rel="noopener noreferrer" href="https://register.gotowebinar.com/register/9074101661897626381" class="button1" target="_blank">Register</a></div>#}

                            <p>Confira os próximos podcasts disponíveis em breve. Siga-nos em <a rel="noopener noreferrer" href="https://www.linkedin.com/company/hatch" target="_blank">LinkedIn</a> and <a rel="noopener noreferrer" href="https://twitter.com/HatchGlobal" target="_blank">Twitter</a> para se manter atualizado com nossos últimos lançamentos.</p>
                            <p>Veja os podcasts anteriores sob demanda <a href="/About-Us/podcasts/on-demand">aqui</a>.</p>
                        </div>
                        <div class="sidebarBlock richText ">
                            <!-- Button, hidden - true or false-->
                            <p style="padding-top: 30px;">
                                <a href="">
                                    <span style="background-color: #e84a37; padding: 8px 70px; color: #ffffff;">Registre-se</span>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section-main brand-gray-lightest">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="sidebarBlock richText ">
                            <h2>Últimos podcasts on-demand</h2>
                            <p style="margin-bottom: 40px;">
                                Navegue <a href="/About-Us/webinar/on-demand">aqui</a> pela nossa lista completa de podcasts on-demand.
                            </p>
                        </div>
                        <div class="row ">
                            <div class="col-md-4">
                                <div class="sidebarBlock richText ">
                                    <h4>
                                        <a href="/About-Us/webinar/Diverse-and-Inclusive-Design-in-Project-Delivery">
                                            Concepção diversificada e inclusiva na entrega de projetos
                                        </a>
                                    </h4>
                                    <p>Apresentação realizada no webinar da Ontario Waterpower Association (OWA).</p>
                                    <p>&nbsp;</p>
                                </div>

                            </div>
                            <div class="col-md-4">
                                <div class="sidebarBlock richText ">
                                    <h4>
                                        <a href="/About-Us/webinar/Sustainable-mining_The-future-is-now">
                                            Sustainable mining: The future is now
                                        </a>
                                    </h4>
                                    <p>This presentation was delivered at the Prospectors and Developers Association of Canada (PDAC) conference in March 2021</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="sidebarBlock richText ">
                                    <h4>
                                        <a href="/About-Us/webinar/Our-Journey-in-Project-Management">
                                            Our Journey in Project Management
                                        </a>
                                    </h4>
                                    <p>SHEngineers, in partnership with the Project Management Institute South Africa, hosted an interactive discussion,&nbsp;featuring Hatch project managers. to encourage more women to take up careers in project management.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-md-3"></div>
                            <div class="col-md-6">
                                <div class="sidebarBlock richText ">
                                    <style>
                                        a.button2{    display:inline-block; padding: 0.35em 2.5em;  border:0.1em solid #E84A37;    margin:0 0.3em 0.3em 0;    border-radius:3px;    box-sizing: border-box;    text-decoration:none;    font-family:'Roboto',sans-serif;    font-weight:300;    color:#425563;    text-align:center;    transition: all 0.2s; }    a.button2:hover{    color:#ffffff;    background-color:#E84A37;    }    @media all and (max-width:30em){    a.button1{    display:block;    margin:0.4em auto;}    }
                                    </style>
                                    <div style="text-align: left; margin-top: 60px;">
                                        <a href="https://www.hatch.com/About-Us/webinar/on-demand" class="button2" style="width: 100%;">Ver todos on-demand</a>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        {{ include('sections/_need-a-solution.html.twig') }}

        {{ include('_footer.html.twig') }}



    </div>
{% endblock %}